<table class="w-full text-center border-collapse">
    <thead class="bg-gray-100 sticky top-0 z-10">
        <tr>
            <th class="p-2 border border-gray-300">GROUP ID</th>
            <th class="p-2 border border-gray-300">RVS CODE</th>
            <th class="p-2 border border-gray-300">DESCRIPTION</th>
            <th class="p-2 border border-gray-300">RVU</th>
            <th class="p-2 border border-gray-300">EFFECTIVE DATE</th>
            <th class="p-2 border border-gray-300">END DATE</th>
            <th class="p-2 border border-gray-300">ACTIONS</th>
        </tr>
    </thead>
    <tbody class="text-gray-700 h-10 max-h-10 overflow-y-hidden">
        {% for item in rvs %}
            <tr>
                <td class="p-2 border border-gray-300">{{ item.ACR_GROUPID }}</td>
                <td class="p-2 border border-gray-300">{{ item.RVSCODE }}</td>
                <td class="p-2 border border-gray-300">{{ item.DESCRIPTION }}</td>
                <td class="p-2 border border-gray-300">{{ item.RVU }}</td>
                <td class="p-2 border border-gray-300">{{ item.EFF_DATE }}</td>
                <td class="p-2 border border-gray-300">{{ item.END_DATE }}</td>
                <td class="w-40 p-2 border border-gray-300">
                    <div class="flex items-center justify-end space-x-1 px-4">
                        <a href="{% url 'set_rvs_rules' group_id=item.ACR_GROUPID %}" class="py-1 px-2 rounded text-white border border-primary bg-primary text-xs font-light flex items-center">
                            <i class='bx bx-plus -ml-1 mr-1 text-sm'></i>Rules</a>
                        <a href="" class="p-1 bg-gray-100 hover:bg-red-100 rounded">
                            <i class='bx bx-trash text-red-500 text-base'></i>
                        </a>
                        <a href="" class="p-1 bg-gray-100 hover:bg-yellow-100 rounded">
                            <i class='bx bx-edit text-yellow-400 text-base'></i>
                        </a>
                        <a href="" class="p-1 bg-gray-100 hover:bg-blue-100 rounded">
                            <i class='bx bx-message-square-detail text-blue-600 text-base'></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8" class="pt-4">
                    <span class=" text-red-600">No Record Found</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot class="pagination">
        <tr class="step-links">
            <td colspan="8">
                <div class="flex space-x-4 items-center mt-3">
                    {% if rvs.has_previous %}
                    <a hx-get="/groups/main?page={{ rvs.previous_page_number }}" hx-trigger="click" hx-target="#main-group"
                        class="py-1 px-2 text-sm rounded bg-white bg-opacity-40 hover:bg-opacity-60 cursor-pointer hover:underline hover:text-blue-600">Previous</a>
                    {% endif %}
                    <span class="current text-sm">
                        Page {{ rvs.number }} of {{ rvs.paginator.num_pages }}.
                    </span>
                    {% if rvs.has_next %}
                    <a hx-get="/groups/main?page={{ rvs.next_page_number }}" hx-trigger="click" hx-target="#main-group" 
                        class="py-1 px-2 text-sm rounded bg-white bg-opacity-40 hover:bg-opacity-60 cursor-pointer hover:underline hover:text-blue-600">Next</a>
                    {% endif %}
                </div> 
            </td>
        </tr>
    </tfoot>
    <div id="default-modal-rvs-rules" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-[1300px] max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="flex items-center justify-between px-5 py-2 border-b rounded-t dark:border-gray-600">
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal-rvs-rules">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <div class="p-4 space-y-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="flex flex-col">
                            <div id="form-cntr">
                                {% include "components/htmx-templates/rvs_Set_rules.html" %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</table>