{% extends 'layouts/main.html' %}
{% load static %}
{% load group_checker %}

{% block content %}
<div class="py-5">
    <div class="w-full flex items-center justify-center space-x-4">
        <div class="flex">
            <a href="{% url 'groups' %}" class="w-40 text-center py-5 text-base rounded-md bg-[#1ED760] text-white">VIEW GROUPS</a>
        </div>
        <div class="w-full flex items-center">
            <div class="w-full bg-white bg-opacity-40 rounded-md py-2 px-2">
                <form action="{% url 'groups' %}" class="w-full flex items-center justify-between gap-4">
                    <label for="temp_search" class="sr-only">Search</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <input type="text" id="description_search" name="description_search"
                            class="w-full bg-gray-50 bg-opacity-50 placeholder:italic border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-primary-500 focus:border-primary-500 block pl-10 py-3 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="DESCRIPTION..">
                    </div>
                    <div class="relative w-fit">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
    
                        <input type="text" id="code_search" name="code_search"
                            class="w-80 bg-gray-50 bg-opacity-50 placeholder:italic border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-primary-500 focus:border-primary-500 block pl-10 py-3 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="GROUP ID..">
                    </div>
                    <div class="relative w-fit">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
    
                        <input type="text" id="code_search" name="code_search"
                            class="w-80 bg-gray-50 bg-opacity-50 border placeholder:italic border-gray-300 text-gray-900 text-base rounded-lg focus:ring-primary-500 focus:border-primary-500 block pl-10 py-3 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="RVS CODE..">
                    </div>
                    <div class="relative w-fit">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
    
                        <input type="text" id="code_search" name="code_search"
                            class="w-80 bg-gray-50 bg-opacity-50 placeholder:italic border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-primary-500 focus:border-primary-500 block pl-10 py-2.5 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="ICD CODE..">
                    </div>
                    <button
                        class="text-white bg-[#1ED760] focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-8 py-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400 fill-white"
                        viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="mt-8 p-6 rounded-md bg-white h-full backdrop-filter backdrop-blur-md bg-opacity-40 mb-4">
        <div class="flex flex-col h-fit">
            <div class="flex items-start justify-between w-full">
                <p class="w-fit text-lg font-medium py-2 drop-shadow-xl text-green-800">ACR GROUP</p>
            </div>

            <div class="h-fit overflow-y-auto ">
                <table class="w-full text-center border-collapse h-20 overflow-y-auto ">
                    <thead class="bg-gray-200 sticky top-0 z-10">
                        <tr>
                            <th class="p-2 border border-gray-400">GROUP ID</th>
                            <th class="p-2 border border-gray-400">DESCRIPTION</th>
                            <th class="p-2 border border-gray-400">EFFECTIVE DATE</th>
                            <th class="p-2 border border-gray-400">EDN DATE</th>
                            <th class="p-2 border border-gray-400">STATUS</th>
                            <th class="p-2 border border-gray-400">ACTIONS</th>
                        </tr>
                    </thead>
    
                        <tbody class="text-gray-700 ">
                            <tr>
                                <td class="p-2 border border-gray-400">12345</td>
                                <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet</td>
                                <td class="p-2 border border-gray-400">1/1/24</td>
                                <td class="p-2 border border-gray-400">1/1/27</td>
                                <td class="p-2 border border-gray-400">
                                    <span
                                        class="py-1 px-2 rounded text-green-800 bg-green-50 bg-opacity-80 text-xs font-light">Active</span>
                                </td>
                                <td class="p-2 border border-gray-400">
                                    <div class="flex items-center justify-center space-x-1 px-4">
                                        <button data-popover-target="popover-left-1" data-popover-placement="left" type="button"
                                            class="py-1 px-2 rounded text-white bg-[#1ED760] text-xs font-light">Add</button>
                                        <div data-popover id="popover-left-1" role="tooltip"
                                            class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                                            <div
                                                class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                                                <h3 class="font-semibold text-gray-900 dark:text-white">Options:</h3>
                                            </div>
                                            <div class="flex items-center justify-center space-x-4 px-3 py-2">
                                                <a href="{% url 'rvs_create' %}"
                                                    class="py-2 px-4 rounded text-gray-700 bg-gray-200 text-xs font-light">Add
                                                    RVS</a>
                                            </div>
                                        </div>
                                        <a href="" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                        <a href="" class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                                        {% if request.user|has_group:"Approver" %}
                                            <a href="" class="py-1 px-2 rounded text-gray-700 bg-white text-xs font-light">Aprove</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="p-6 py-6 rounded-md bg-white h-full backdrop-filter backdrop-blur-md bg-opacity-40">

        <div class="flex flex-col h-full">
            <div class="flex items-start justify-between w-full pb-4">
                <p class="w-fit text-xl font-medium py-2 drop-shadow-xl text-green-800">ACR RVS</p>
                <form class="flex items-center">
                    <label for="simple-search" class="sr-only">Search</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <input type="text" id="simple-search"
                            class="w-96 bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block pl-10 py-2.5 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Search" required="">
                    </div>
                    <button
                        class="ml-2 text-white bg-[#1ED760] focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Search</button>
                </form>
            </div>

            <table class="w-full text-center border-collapse">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="p-2 border border-gray-400">GROUP ID</th>
                        <th class="p-2 border border-gray-400">RVS CODE</th>
                        <th class="p-2 border border-gray-400">DESCRIPTION</th>
                        <th class="p-2 border border-gray-400">RVU</th>
                        <th class="p-2 border border-gray-400">EFFECTIVE DATE</th>
                        <th class="p-2 border border-gray-400">END DATE</th>
                        <th class="p-2 border border-gray-400">STATUS</th>
                        <th class="p-2 border border-gray-400">ACTIONS</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    <!-- hx-get="/groups/item/" hx-trigger="load" -->
                    <!-- <tr>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit.
                            Aliquid perferendis
                        </td>
                        <td class="p-2 border border-gray-400">1</td>
                        <td class="p-2 border border-gray-400">1/1/24</td>
                        <td class="p-2 border border-gray-400">1/1/27</td>
                        <td class="p-2 border border-gray-400">
                            <span
                                class="py-1 px-2 rounded text-green-800 bg-green-50 bg-opacity-80 text-xs font-light">Active</span>
                        </td>
                        <td class="p-2 border border-gray-400">
                            <div class="flex items-center justify-end space-x-1 px-4">
                                <a href="{% url 'set_rvs_rules' %}" class="py-1 px-2 rounded text-white bg-[#1ED760] text-xs font-light">Add Rules</a>
                                <a href="{% url 'set_rvs_rules' %}" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                <a href=""
                                    class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                            adipisicing 
                        </td>
                        <td class="p-2 border border-gray-400">1</td>
                        <td class="p-2 border border-gray-400">1/1/24</td>
                        <td class="p-2 border border-gray-400">1/1/27</td>
                        <td class="p-2 border border-gray-400">
                            <span
                                class="py-1 px-2 rounded text-red-800 bg-red-50 bg-opacity-80 text-xs font-light">Inactive</span>
                        </td>
                        <td class="p-2 border border-gray-400">
                            <div class="flex items-center justify-end space-x-1 px-4">
                                <a href="{% url 'set_rvs_rules' %}" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                <a href=""
                                    class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            perferendis
                        </td>
                        <td class="p-2 border border-gray-400">1</td>
                        <td class="p-2 border border-gray-400">1/1/24</td>
                        <td class="p-2 border border-gray-400">1/1/27</td>
                        <td class="p-2 border border-gray-400">
                            <span
                                class="py-1 px-2 rounded text-green-800 bg-green-50 bg-opacity-80 text-xs font-light">Active</span>
                        </td>
                        <td class="p-2 border border-gray-400">
                            <div class="flex items-center justify-end space-x-1 px-4">
                                <a href="{% url 'set_rvs_rules' %}" class="py-1 px-2 rounded text-white bg-[#1ED760] text-xs font-light">Add Rules</a>
                                <a href="{% url 'set_rvs_rules' %}" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                <a href=""
                                    class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            perferendis
                        </td>
                        <td class="p-2 border border-gray-400">1</td>
                        <td class="p-2 border border-gray-400">1/1/24</td>
                        <td class="p-2 border border-gray-400">1/1/27</td>
                        <td class="p-2 border border-gray-400">
                            <span
                                class="py-1 px-2 rounded text-green-800 bg-green-50 bg-opacity-80 text-xs font-light">Active</span>
                        </td>
                        <td class="p-2 border border-gray-400">
                            <div class="flex items-center justify-end space-x-1 px-4">
                                <a href="{% url 'set_rvs_rules' %}" class="py-1 px-2 rounded text-white bg-[#1ED760] text-xs font-light">Add Rules</a>
                                <a hhref="{% url 'set_rvs_rules' %}" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                <a href=""
                                    class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                        </td>
                        <td class="p-2 border border-gray-400">1</td>
                        <td class="p-2 border border-gray-400">1/1/24</td>
                        <td class="p-2 border border-gray-400">1/1/27</td>
                        <td class="p-2 border border-gray-400">
                            <span
                                class="py-1 px-2 rounded text-red-800 bg-red-50 bg-opacity-80 text-xs font-light">Inactive</span>
                        </td>
                        <td class="p-2 border border-gray-400">
                            <div class="flex items-center justify-end space-x-1 px-4">
                                <a href="{% url 'set_rvs_rules' %}" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                <a href=""
                                    class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                            adipisicing 
                        </td>
                        <td class="p-2 border border-gray-400">1</td>
                        <td class="p-2 border border-gray-400">1/1/24</td>
                        <td class="p-2 border border-gray-400">1/1/27</td>
                        <td class="p-2 border border-gray-400">
                            <span
                                class="py-1 px-2 rounded text-red-800 bg-red-50 bg-opacity-80 text-xs font-light">Inactive</span>
                        </td>
                        <td class="p-2 border border-gray-400">
                            <div class="flex items-center justify-end space-x-1 px-4">
                                <a href="{% url 'set_rvs_rules' %}" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                <a href=""
                                    class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">12345</td>
                        <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            perferendis
                        </td>
                        <td class="p-2 border border-gray-400">1</td>
                        <td class="p-2 border border-gray-400">1/1/24</td>
                        <td class="p-2 border border-gray-400">1/1/27</td>
                        <td class="p-2 border border-gray-400">
                            <span
                                class="py-1 px-2 rounded text-green-800 bg-green-50 bg-opacity-80 text-xs font-light">Active</span>
                        </td>
                        <td class="p-2 border border-gray-400">
                            <div class="flex items-center justify-end space-x-1 px-4">
                                <a href="{% url 'set_rvs_rules' %}" class="py-1 px-2 rounded text-white bg-[#1ED760] text-xs font-light">Add Rules</a>
                                <a href="{% url 'set_rvs_rules' %}" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                <a href="" class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                            </div>
                        </td>
                    </tr> -->

                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock content %}
