{% extends 'layouts/test.html' %}
{% load static %}

{% block content %}
<div class="mt-20">
    <form action="{% url 'create_rvs' %}" method="POST">
        <div class="flex flex-col space-y-4">
            {% csrf_token %}
            <div>
                <div id="section1" class="form-section">
                    {% include "components/acr/fieldsets/acr-group.html" %}
                    {% include "components/acr/fieldsets/acr-rvs.html" %}
                    <div class="flex items-start py-2">
                        <a class="nav-button next py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-[#1ED760] hover:text-white" data-next="section2">next</a>
                    </div>
                </div>
                <div id="section2" data-section="2" style="display: none;" class="form-section">
                    {% include "components/acr/fieldsets/acr-inputs.html" %}
                    <div class="flex items-start space-x-4 py-2">
                        <a class="nav-button next py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-[#1ED760] hover:text-white" data-back="section1">back</a>
                        <a class="nav-button previous py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-[#1ED760] hover:text-white" data-next="section3">next</a>
                    </div>
                </div>
                <div id="section3" data-section="3" style="display: none;" class="form-section">
                    <div class="h-96 w-full flex items-center justify-center">
                        section 3
                    </div>
                    <div class="flex items-start space-x-4 py-2">
                        <a class="nav-button next py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-[#1ED760] hover:text-white" data-back="section2">next</a>
                        <a class="nav-button previous py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-[#1ED760] hover:text-white" data-next="section4">back</a>
                    </div>
                </div>
                <div id="section4" data-section="3" style="display: none;" class="form-section">
                    <div class="h-96 w-full flex items-center justify-center">
                        section 4
                    </div>
                    <div class="flex items-start space-x-4 py-2">
                        <a class="nav-button next py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-[#1ED760] hover:text-white" data-back="section3">next</a>
                        <a class="previous py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-[#1ED760] hover:text-white" data-next="4">back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="{% static 'js/acr/create-rvs.js' %}"></script>
{% endblock %}
