{% extends 'layouts/main.html' %}
{% load static %}
{% load humanize %}
{% load group_checker %}

{% block content %}
<div>
    <div>
        <div class="flex items-center mb-2 group">
            <i class='bx bx-left-arrow-alt text-xl group-hover:text-blue-600'></i>
            <a href="{% url 'approver_approved_rvs_list' %}"
                class="nav-button previous text-sm py-2 px-1 text-gray-600 cursor-pointer group-hover:underline group-hover:text-blue-600">Back
            </a>
        </div>
        {% include "components/alerts/messages.html" %}
        <div class="flex flex-col space-y-4 text-sm">
            <div class="opacity-70 cursor-not-allowed">
                <div class="w-full  rounded-t-md bg-primary px-4">
                    <p class="w-fit text-sm font-medium py-2 drop-shadow-lg text-white">GROUP <span
                            class="italic font-normal text-xs">(Main)</span></p>
                </div>
                <div class="h-fit min-h-24 w-full bg-white shadow p-4 rounded-md ">
                    <table class="w-full text-left border-collapse">
                        <thead class="bg-gray-100 sticky top-0 z-10">
                            <tr>
                                <th class="p-2 border border-gray-200 w-64">FIELD NAME</th>
                                <th class="p-2 border border-gray-200">VALUE</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700 h-10 max-h-10 overflow-y-hidden">
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">ID</td>
                                <td class="p-2 border border-gray-200">{{ group.ID }}</td>
                            </tr>
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">ACR_GROUPID</td>
                                <td class="p-2 border border-gray-200">{{ group.ACR_GROUPID }}</td>
                            </tr>
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">DESCRIPTION</td>
                                <td class="p-2 border border-gray-200">{{ group.DESCRIPTION }}</td>
                            </tr>
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">EFF DATE</td>
                                <td class="p-2 border border-gray-200">{{ group.EFF_DATE }}</td>
                            </tr>
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">END DATE</td>
                                <td class="p-2 border border-gray-200">{{ group.END_DATE }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
            </div>
            {% if rvs %}
            <div>
                <div class="w-full  rounded-t-md bg-primary px-4">
                    <p class="w-fit text-sm font-medium py-2 drop-shadow-lg text-white">RVS <span
                            class="italic font-normal text-xs">(Main)</span></p>
                </div>
                <div class="h-fit min-h-24 w-full bg-white shadow p-4 rounded-md ">
                    <table class="w-full text-left border-collapse">
                        <thead class="bg-gray-100 sticky top-0 z-10">
                            <tr>
                                <th class="p-2 border border-gray-200 w-64 font-semibold">FIELD NAME</th>
                                <th class="p-2 border border-gray-200">VALUE</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700 h-10 max-h-10 overflow-y-hidden">
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">ACR_GROUPID</td>
                                <td class="p-2 border border-gray-200">{{ rvs.ACR_GROUPID }}</td>
                            </tr>
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">RVSCODE</td>
                                <td class="p-2 border border-gray-200">
                                    <div class="w-full items-center flex justify-between">
                                        <span>{{ rvs.RVSCODE }}</span>
                                        <div>
                                            <input type="text" name="RVSCODE" value="{{ rvs.RVSCODE }}" 
                                            hx-get="{% url 'check_rvscode_existence' %}"
                                            hx-trigger="keyup delay:500ms" 
                                            hx-target="#rvs_exists_cntr"
                                            class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                            <div id="rvs_exists_cntr"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">DESCRIPTION</td>
                                <td class="p-2 border border-gray-200">
                                    <textarea name="DESCRIPTION" class="w-full text-sm h-32 border border-gray-200 rounded">{{ rvs.DESCRIPTION }}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">RVU</td>
                                <td class="p-2 border border-gray-200">
                                    <div class="w-full items-center flex justify-between">
                                        <span>{{ rvs.RVU }}</span>
                                        <input type="number" name="RVU" value="{{ rvs.RVU }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">EFF DATE</td>
                                <td class="p-2 border border-gray-200">
                                    <div class="w-full items-center flex justify-between">
                                        <span>{{ rvs.EFF_DATE }}</span>
                                        <input type="date" name="EFF_DATE" value="{{ rvs.EFF_DATE|date:'Y-m-d' }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">END DATE</td>
                                <td class="p-2 border border-gray-200">
                                    <div class="w-full items-center flex justify-between">
                                        <span>{{ rvs.END_DATE }}</span>
                                        <input type="date" name="END_DATE" value="{{ rvs.END_DATE|date:'Y-m-d' }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-2 border border-gray-200 w-80 font-medium">CREATED_AT</td>
                                <td class="p-2 border border-gray-200">{{ rvs.created_at }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flex items-start space-x-2 mt-4">
                        {% for group in user.groups.all %}
                            {% if group.name == "Encoder" %}
                                <a href="{% url 'set_rvs_rules' group_id=rvs.ACR_GROUPID rvs_code=rvs.RVSCODE %}" class="py-2 px-4 rounded text-white border border-primary bg-primary text-sm font-light flex items-center">
                                    <i class='bx bx-plus -ml-1 mr-1 text-lg'></i>Rules</a>
                            {% endif %}
                        {% endfor %}
                        <a href="" class="py-2 px-4 bg-red-500 hover:bg-red-600 text-white border border-red-500 hover:border-red-600 rounded text-sm font-light flex items-center">
                            <i class='bx bx-trash -ml-1 mr-1 text-white text-lg'></i>
                            Delete
                        </a>
                        <a href="" class="py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white border border-blue-500 hover:border-blue-600 rounded text-sm font-light flex items-center">
                            <i class='bx bx-edit -ml-1 mr-1 text-white text-lg'></i>
                            Edit
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="flex px-1">
            <span class="text-sm font-semibold">RVS RULES:</span>
        </div>

        <div class="flex flex-col space-y-2 text-sm">
            {% for rule in rules %}
                    <div class="bg-white p-3 rounded-md border border-gray-300">
                        <div id="toggleButton" class="flex items-center justify-between"
                            onclick="toggleContent(this)">
                            <span class="text-sm">EFF DATE: {{ rule.EFF_DATE }}</span>
                            <div>
                                <i class='bx bx-chevron-down text-2xl '></i>
                            </div>
                        </div>

                        <div id="myDiv" class="hidden mt-4">
                            <form action="{% url 'update_temp_rvs_rules' rvscode=rule.RVSCODE %}?eff_date={{ rule.EFF_DATE|date:'Y-m-d' }}" method="POST">
                                {% csrf_token %}
                                <table class="w-full text-left border-collapse">
                                    <thead class="bg-gray-100 sticky top-0 z-10">
                                        <tr>
                                            <th class="p-2 border border-gray-200 w-80">FIELD NAME</th>
                                            <th class="p-2 border border-gray-200">VALUE</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-gray-700 h-10 max-h-10 overflow-y-hidden">
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                ACR_GROUPID</td>
                                            <td class="p-2 border border-gray-200">{{ rule.ACR_GROUPID }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">RVSCODE
                                            </td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.RVSCODE }}</span>
                                                    <input type="text" name="RVSCODE" value="{{ rule.RVSCODE }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">EFF_DATE
                                            </td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.EFF_DATE }}</span>
                                                    <input type="date" name="EFF_DATE" value="{{ rule.EFF_DATE|date:'Y-m-d' }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                PRIMARY_AMOUNT</td>
                                            <td class="p-2 border border-gray-200">₱{{ rule.PRIMARY_AMOUNT|floatformat:2|intcomma }}</td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                PRIMARY_HOSP_SHARE</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>₱{{ rule.PRIMARY_HOSP_SHARE|floatformat:2|intcomma }}</span>
                                                    <input type="number" name="PRIMARY_HOSP_SHARE" value="{{ rule.PRIMARY_HOSP_SHARE }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                PRIMARY_PROF_SHARE</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>₱{{ rule.PRIMARY_PROF_SHARE|floatformat:2|intcomma }}</span>
                                                    <input type="number" name="PRIMARY_PROF_SHARE" value="{{ rule.PRIMARY_PROF_SHARE }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                SECONDARY_AMOUNT</td>
                                            <td class="p-2 border border-gray-200">₱{{ rule.SECONDARY_AMOUNT|floatformat:2|intcomma }}</td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                SECONDARY_HOSP_SHARE</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>₱{{ rule.SECONDARY_HOSP_SHARE|floatformat:2|intcomma }}</span>
                                                    <input type="number" name="SECONDARY_HOSP_SHARE" value="{{ rule.SECONDARY_HOSP_SHARE }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                SECONDARY_PROF_SHARE</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>₱{{ rule.SECONDARY_PROF_SHARE|floatformat:2|intcomma }}</span>
                                                    <input type="number" name="SECONDARY_PROF_SHARE" value="{{ rule.SECONDARY_PROF_SHARE }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                PCF_AMOUNT</td>
                                            <td class="p-2 border border-gray-200">₱{{ rule.PCF_AMOUNT|floatformat:2|intcomma }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                PCF_HOSP_SHARE</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>₱{{ rule.PCF_HOSP_SHARE|floatformat:2|intcomma }}</span>
                                                    <input type="number" name="PCF_HOSP_SHARE" value="{{ rule.PCF_HOSP_SHARE }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                PCF_PROF_SHARE</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>₱{{ rule.PCF_PROF_SHARE|floatformat:2|intcomma }}</span>
                                                    <input type="number" name="PCF_PROF_SHARE" value="{{ rule.PCF_PROF_SHARE }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_OCCURS_PER_CLAIM</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_OCCURS_PER_CLAIM }}</span>
                                                    <input type="text" name="CHECK_OCCURS_PER_CLAIM" value="{{ rule.CHECK_OCCURS_PER_CLAIM }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_OCCURS_PER_PERSON</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_OCCURS_PER_PERSON }}</span>
                                                    <input type="text" name="CHECK_OCCURS_PER_PERSON" value="{{ rule.CHECK_OCCURS_PER_PERSON }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_LATERALITY</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_LATERALITY }}</span>
                                                    <select type="text" name="CHECK_LATERALITY" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_LATERALITY == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_LATERALITY == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_GENDER</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_GENDER }}</span>
                                                    <select type="text" name="CHECK_GENDER" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="M" {% if rule.CHECK_GENDER == 'M' %}selected{% endif %} >Male</option>
                                                        <option value="F" {% if rule.CHECK_GENDER == 'F' %}selected{% endif %}>Female</option>
                                                        <option value="B" {% if rule.CHECK_GENDER == 'B' %}selected{% endif %}>Both</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_AGE</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_AGE }}</span>
                                                    <input type="text" name="CHECK_AGE" value="{{ rule.CHECK_AGE }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_H1</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_H1 }}</span>
                                                    <select type="text" name="CHECK_FACILITY_H1" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_H1 == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_H1 == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_H2</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_H2 }}</span>
                                                    <select type="text" name="CHECK_FACILITY_H2" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_H2 == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_H2 == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_H3</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_H3 }}</span>
                                                    <select type="text" name="CHECK_FACILITY_H3" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_H3 == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_H3 == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_ASC</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_ASC }}</span>
                                                    <select type="text" name="CHECK_FACILITY_ASC" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_ASC == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_ASC == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_PCF</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_PCF }}</span>
                                                    <select type="text" name="CHECK_FACILITY_PCF" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_PCF == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_PCF == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_MAT</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_MAT }}</span>
                                                    <select type="text" name="CHECK_FACILITY_MAT" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_MAT == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_MAT == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_FSDC</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_FSDC }}</span>
                                                    <select type="text" name="CHECK_FACILITY_FSDC" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_FSDC == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_FSDC == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_SINGLE_PERIOD_DAYS</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_SINGLE_PERIOD_DAYS }}</span>
                                                    <input type="number" name="CHECK_SINGLE_PERIOD_DAYS" value="{{ rule.CHECK_SINGLE_PERIOD_DAYS }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_ADDITIONAL_CODES</td>
                                            <td class="p-2 border border-gray-200">
                                                <textarea name="CHECK_ADDITIONAL_CODES" class="w-full text-sm h-16 border border-gray-200 rounded">{{ rule.CHECK_ADDITIONAL_CODES }}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_PREAUTHORIZATION</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_PREAUTHORIZATION }}</span>
                                                    <select type="text" name="CHECK_PREAUTHORIZATION" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_PREAUTHORIZATION == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_PREAUTHORIZATION == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_QUALIFIER</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_QUALIFIER }}</span>
                                                    <select type="text" name="CHECK_QUALIFIER" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_QUALIFIER == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_QUALIFIER == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                DEDUCT_FROM_45DAYS</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.DEDUCT_FROM_45DAYS }}</span>
                                                    <input type="text" name="DEDUCT_FROM_45DAYS" value="{{ rule.DEDUCT_FROM_45DAYS }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_GIDAS</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_GIDAS }}</span>
                                                    <select type="text" name="CHECK_GIDAS" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_GIDAS == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_GIDAS == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                FIXED_COPAY</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>₱{{ rule.FIXED_COPAY|floatformat:2|intcomma }}</span>
                                                    <input type="number" name="FIXED_COPAY" value="{{ rule.FIXED_COPAY }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_DIRECT_FILING</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_DIRECT_FILING }}</span>
                                                    <select type="text" name="CHECK_DIRECT_FILING" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_DIRECT_FILING == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_DIRECT_FILING == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_PCF_SECONDARY_CR</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_PCF_SECONDARY_CR }}</span>
                                                    <select type="text" name="CHECK_PCF_SECONDARY_CR" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_PCF_SECONDARY_CR == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_PCF_SECONDARY_CR == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_ASC_SECONDARY_CR</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_ASC_SECONDARY_CR }}</span>
                                                    <select type="text" name="CHECK_ASC_SECONDARY_CR" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_ASC_SECONDARY_CR == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_ASC_SECONDARY_CR == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">ACTIVE
                                            </td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.ACTIVE }}</span>
                                                    <select type="text" name="ACTIVE" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.ACTIVE == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.ACTIVE == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                EFF_END_DATE</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.EFF_END_DATE }}</span>
                                                    <input type="date" name="EFF_END_DATE" value="{{ rule.EFF_END_DATE|date:'Y-m-d' }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_TSEKAP</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_TSEKAP }}</span>
                                                    <select type="text" name="CHECK_FACILITY_TSEKAP" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_TSEKAP == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_TSEKAP == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_ABTC</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_ABTC }}</span>
                                                    <select type="text" name="CHECK_FACILITY_ABTC" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_ABTC == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_ABTC == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_TBDOTSC</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_TBDOTSC }}</span>
                                                    <select type="text" name="CHECK_FACILITY_TBDOTSC" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_TBDOTSC == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_TBDOTSC == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_OPMC</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_OPMC }}</span>
                                                    <select type="text" name="CHECK_FACILITY_OPMC" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_OPMC == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_OPMC == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_WHAT_IS_COVERED_BY_AMT
                                            </td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_WHAT_IS_COVERED_BY_AMT }}</span>
                                                    <input type="text" name="CHECK_WHAT_IS_COVERED_BY_AMT" value="{{ rule.CHECK_WHAT_IS_COVERED_BY_AMT }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_SPC_RELATED_BEN_CODES</td>
                                            <td class="p-2 border border-gray-200">
                                                <textarea name="CHECK_SPC_RELATED_BEN_CODES" class="w-full text-sm h-16 border border-gray-200 rounded">{{ rule.CHECK_SPC_RELATED_BEN_CODES }}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_LENGTH_OF_STAY</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_LENGTH_OF_STAY }}</span>
                                                    <input type="text" name="CHECK_LENGTH_OF_STAY" value="{{ rule.CHECK_LENGTH_OF_STAY }}" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                VALIDATION_RULES</td>
                                            <td class="p-2 border border-gray-200">
                                                <textarea name="VALIDATION_RULES" class="w-full text-sm h-32 border border-gray-200 rounded">{{ rule.VALIDATION_RULES }}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                TO_BE_TAGGED_FOR_POST_AUDIT</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.TO_BE_TAGGED_FOR_POST_AUDIT }}</span>
                                                    <select type="text" name="TO_BE_TAGGED_FOR_POST_AUDIT" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.TO_BE_TAGGED_FOR_POST_AUDIT == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.TO_BE_TAGGED_FOR_POST_AUDIT == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_RHU</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_RHU }}</span>
                                                    <select type="text" name="CHECK_FACILITY_RHU" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_RHU == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_RHU == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-2 border border-gray-200 w-80 font-medium">
                                                CHECK_FACILITY_PCB</td>
                                            <td class="p-2 border border-gray-200">
                                                <div class="w-full items-center flex justify-between">
                                                    <span>{{ rule.CHECK_FACILITY_PCB }}</span>
                                                    <select type="text" name="CHECK_FACILITY_PCB" class="rounded w-60 text-sm py-2 px-4 border border-gray-300">
                                                        <option value="T" {% if rule.CHECK_FACILITY_PCB == 'T' %}selected{% endif %} >True</option>
                                                        <option value="F" {% if rule.CHECK_FACILITY_PCB == 'F' %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="flex items-start space-x-2 py-4">
                                    <button type="submit"  class="py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white border border-blue-500 hover:border-blue-600 rounded text-sm font-light flex items-center">
                                        <i class='bx bx-edit -ml-1 mr-1 text-white text-lg'></i>
                                        Update
                                    </button>
                                    <a href="" class="py-2 px-4 bg-red-500 hover:bg-red-600 text-white border border-red-500 hover:border-red-600 rounded text-sm font-light flex items-center">
                                        <i class='bx bx-trash -ml-1 mr-1 text-white text-lg'></i>
                                        Delete
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function toggleContent(element) {
        const contentContainer = element.nextElementSibling;
        const icon = element.querySelector('.bx');

        if (contentContainer.classList.contains('hidden')) {
            contentContainer.classList.remove('hidden');
            icon.classList.replace('bx-chevron-down', 'bx-chevron-up');
        } else {
            contentContainer.classList.add('hidden');
            icon.classList.replace('bx-chevron-up', 'bx-chevron-down');
        }
    }
</script>
{% endblock %}