{% extends 'layouts/main.html' %}
{% load static %}
{% load humanize %}
{% load group_checker %}

{% block content %}
<div class="h-screen w-full flex flex-col space-y-4">
    <div class="flex items-center border-t-2  border-primary border-x border-x-gray-200">
        <ul class="flex flex-row font-medium text-sm">
            <li class="group py-1.5 px-4 hover:bg-white border-r border-gray-200">
                <a href="{% url 'acr' %}" class="text-gray-900 dark:text-white " aria-current="page">Home</a>
            </li>
            <li class="relative py-1.5 px-4 hover:bg-white border-r border-gray-200">
                <a href="{% url 'approver_pending_groups_list' %}" class="text-gray-900 dark:text-white ">Groups <span class="text-xs italic font-normal ">(For Approval)</span></a>
                <div hx-get="{% url 'temp_groups_count' %}" hx-trigger="load" id="temp_groups_count_cntr" class="absolute -top-3 -right-3">
                </div>
            </li>
            <li class="group py-1.5 px-4 hover:bg-white border-r border-gray-200">
                <a href="{% url 'approver_approved_groups_list' %}" class="text-gray-900 dark:text-white ">Groups <span class="text-xs italic font-normal ">(Main)</span></a>
            </li>
            <li class="relative roup py-1.5 px-4 hover:bg-white border-r border-gray-200">
                <a href="{% url 'approver_pending_rvs_list' %}" class="text-gray-900 dark:text-white ">RVS <span class="text-xs italic font-normal ">(For Approval)</span></a>
                <div hx-get="{% url 'temp_rvs_count' %}" hx-trigger="load" id="temp_rvs_count_cntr" class="absolute -top-3 -right-3">
                </div>
            </li>
            <li class="group py-1.5 px-4 hover:bg-white">
                <a href="{% url 'approver_approved_rvs_list' %}" class="text-gray-900 dark:text-white ">RVS <span class="text-xs italic font-normal ">(Main)</span></a>
            </li>
            <li class="relative group py-1.5 px-4 bg-primary">
                <a href="{% url 'temp_rvs_rules_list' %}" class="text-white dark:text-white ">RVS RULES <span class="text-xs italic font-normal ">(For Approval)</span></a>
                <div hx-get="{% url 'temp_rvs_rules_count' %}" hx-trigger="load" id="temp_rvs_rules_count_cntr" class="absolute -top-3 -right-3">
                </div>
            </li>
            <li class="group py-1.5 px-4 hover:bg-white border-r border-gray-200">
                <a class="text-gray-900 dark:text-white ">ICDs <span class="text-xs italic font-normal ">(Main)</span></a>
            </li>
            <li class="group py-1.5 px-4 hover:bg-white border-r border-gray-200">
                <a  class="text-gray-900 dark:text-white ">ICDs <span class="text-xs italic font-normal ">(For Approval)</span></a>
            </li>
            <li class="group py-1.5 px-4 hover:bg-white border-r border-gray-200">
                <a  class="text-gray-900 dark:text-white ">ICDs RULES <span class="text-xs italic font-normal ">(For Approval)</span></a>
            </li>
        </ul>
    </div>
    <div>
        {% include "components/alerts/messages.html" %}
        <div>
            <div class="w-full rounded-t-lg bg-red-700 px-4">
                <p class="w-fit text-sm font-medium py-2 drop-shadow-lg text-white">RVS RULES</p>
            </div>
            <div class="p-4 rounded-b-md bg-white">
                <div class="flex flex-col h-fit">
                    <div class="flex items-start justify-between w-full pb-4">
                        <p class="w-fit text-base font-medium py-2 drop-shadow-lg text-red-800">RVS RULES<span
                            class="italic text-base font-light">(Waiting for approval)</span></p>
                        <div class="flex space-x-4 items-center">
                            <div class="flex items-center space-x-2">
                                <input type="date" id="date_search" name="date_search"  hx-trigger="change delay:500ms" hx-target="#temp_rvsrules_cntr"
                                    class="bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-500 focus:border-primary-500 block py-2.5 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            </div>
                            <!-- <div class="flex items-center">
                                <label for="temp_search" class="sr-only">Search</label>
                                <div class="relative w-full">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                            fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <input type="text" id="temp_search" name="description_search"  hx-trigger="keyup delay:500ms" hx-target="#temp_rvsrules_cntr"
                                        class="w-80 bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-500 focus:border-primary-500 block pl-10 py-2.5 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                        placeholder="Search Description..">
                                </div>
                            </div> -->
                        </div>
                    </div>
        
                    <div hx-get="{% url 'get_temp_rvs_rules' %}" hx-trigger="load" id="temp_rvsrules_cntr" class="h-fit overflow-y-auto ">
                        {% comment %} Temporary RVS_RULES container {% endcomment %}
                    </div>
                       
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}