{% load static %}
{% load group_checker %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefit Package Library Management System</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/input.css' %}" rel="stylesheet">

    <!-- boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header class="fixed top-0 z-40 w-full border-b border-gray-200 bg-white dark:bg-gray-800 dark:border-gray-700">
        <div class="px-5 py-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-start rtl:justify-end">
                    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar"
                        aria-controls="logo-sidebar" type="button"
                        class="inline-flex items-center mr-4 p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                        <span class="sr-only">Open sidebar</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" fill-rule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                            </path>
                        </svg>
                    </button>
                    <!-- <div class="py-1 pt-2 px-2 hover:bg-gray-50 rounded-md mr-4">
                    <i class='bx bx-menu text-4xl font-light text-gray-500'></i>
                </div> -->
                    <a class="text-white flex space-x-2 items-center">
                        <div class="w-40 h-12">
                            <img src="{% static 'images/images_Philhealth_Logo.png' %}" alt="logo" class="w-36 h-12">
                        </div>
                    </a>
                </div>
                <div class="flex items-center">
                    <div class="flex items-center ms-3">
                        <div>
                            <button type="button"
                                class="flex text-sm bg-gray-50 border border-gray-200 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                                aria-expanded="false" data-dropdown-toggle="dropdown-user">
                                <span class="sr-only">Open user menu</span>
                                <img src="https://placehold.co/600x400"
                                    class="w-10 h-10 rounded-full object-cover object-center" alt="user photo">
                            </button>
                        </div>
                        <div class="w-60 z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                            id="dropdown-user">
                            <div class="px-4 py-3 flex flex-col space-y-2" role="none">
                                <div hx-get="/user/" hx-trigger="load" class="w-full flex flex-col space-y-2">
                                </div>
                                <a href="{% url 'logout' %}"
                                    class="w-full bg-primary text-white rounded text-sm text-center py-2 px-4">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <aside id="logo-sidebar"
        class="pt-24 fixed top-0 left-0 z-30 w-64 h-screen transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Sidebar">
        <div class="relative h-full p-4 pt-0 overflow-y-auto bg-white dark:bg-gray-800">
            <div class="h-full relative flex flex-col space-y-1 ">
                <a href="{% url 'acr' %}"
                    class="w-full flex items-center rounded-md p-2 px-4 bg-primary text-white group border border-gray-100">
                    <div>
                        <i class='bx bx-list-ul text-2xl mt-1 '></i>
                    </div>
                    <span class="flex-1 ms-3 whitespace-nowrap  text-sm">All Case-Rate</span>
                </a>

                <a href="{% url 'rvs' %}"
                    class="w-full flex items-center rounded-md p-2 px-4 hover:bg-primary hover:text-white group border border-gray-100 ">
                    <div>
                        <i class='bx bx-test-tube text-2xl mt-1 '></i>
                    </div>
                    <span class="flex-1 ms-3 whitespace-nowrap text-sm">Z-Benefits</span>
                </a>

                <a href="{% url 'icds' %}"
                    class="w-full flex items-center rounded-md p-2 px-4 hover:bg-primary hover:text-white group border border-gray-100 ">
                    <div>
                        <i class='bx bx-file text-2xl mt-1 '></i>
                    </div>
                    <span class="flex-1 ms-3 whitespace-nowrap text-sm">DRG</span>
                </a>

                <div hx-get="/user/" hx-trigger="load" class="w-full flex flex-col space-y-2 absolute bottom-0">
                </div>
            </div>


        </div>
    </aside>

    <div class="min-h-screen h-auto p-4 py-24 sm:ml-64 bg-gray-100 text-xs">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
</body>

</html>