{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}

<div class="pt-10">
    <div class="flex items-center space-x-4">
        <a href="{% url 'rvs_create' %}" class="py-3 px-8 rounded-lg border border-white text-sm text-white hover:border-[#1ED760] hover:bg-[#1ED760] hover:text-white">Add New RVS</a>
        <a href="{% url 'create_icds' %}" class="py-3 px-8 rounded-lg border border-white text-sm text-white hover:border-[#1ED760] hover:bg-[#1ED760] hover:text-white">Add New ICDS</a>
    </div>
    <div class="p-6 py-8 rounded-md border bg-white h-full mt-3 backdrop-filter backdrop-blur-md bg-opacity-50">
    
        <div class="flex flex-col h-full">
            <div class="flex items-start justify-between w-full pb-4">
                <p class="w-fit text-xl font-medium py-2 drop-shadow-xl text-green-800"> All Case-Rate</p>
                <form class="flex items-center">
                    <label for="simple-search" class="sr-only">Search</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <input type="text" id="simple-search" class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required="">
                    </div>
                    <button class="ml-2 text-white bg-[#1ED760] focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Search</button>
                </form>
            </div>
    
            <table class="text-sm text-left overflow-x-auto w-full max-h-[600px]">
                <thead class="bg-gray-100 rounded-md flex text-green-800 w-full h-9">
                    <tr class="flex w-full justify-center">
                        <th class="p-1 w-1/4 text-center">Group ID</th>
                        <th class="p-1 w-1/4 text-center">Description</th>
                        <th class="p-1 w-1/4 text-center">Effective Date</th>
                        <th class="p-1 w-1/4 text-center">End Date</th>
                        <th class="p-1 w-1/4 text-center">Status</th>
                    </tr>
                </thead>
            
                <tbody class="bg-grey-light flex flex-col items-center justify-between w-full text-gray-600">
                    <tr class="flex w-full border border-gray-400 border-t-0 border-l-0 border-r-0">
                        <td class="p-4 w-1/4 text-center">12345</td>
                        <td class="p-4 w-1/4 text-center">None</td>
                        <td class="p-4 w-1/4 text-center">1/1/24</td>
                        <td class="p-4 w-1/4 text-center">1/1/27</td>
                        <td class="p-4 w-1/4 text-center">Active</td>
                    </tr>
    
                    <tr class="flex w-full border border-gray-400 border-t-0 border-l-0 border-r-0">
                        <td class="p-4 w-1/4 text-center">12345</td>
                        <td class="p-4 w-1/4 text-center">None</td>
                        <td class="p-4 w-1/4 text-center">1/1/24</td>
                        <td class="p-4 w-1/4 text-center">1/1/27</td>
                        <td class="p-4 w-1/4 text-center">Active</td>
                    </tr>
    
                    <tr class="flex w-full border border-gray-400 border-t-0 border-l-0 border-r-0">
                        <td class="p-4 w-1/4 text-center">12345</td>
                        <td class="p-4 w-1/4 text-center">None</td>
                        <td class="p-4 w-1/4 text-center">1/1/24</td>
                        <td class="p-4 w-1/4 text-center">1/1/27</td>
                        <td class="p-4 w-1/4 text-center">Active</td>
                    </tr>
    
                    <tr class="flex w-full border border-gray-400 border-t-0 border-l-0 border-r-0">
                        <td class="p-4 w-1/4 text-center">12345</td>
                        <td class="p-4 w-1/4 text-center">None</td>
                        <td class="p-4 w-1/4 text-center">1/1/24</td>
                        <td class="p-4 w-1/4 text-center">1/1/27</td>
                        <td class="p-4 w-1/4 text-center">Active</td>
                    </tr>
    
                    <tr class="flex w-full border border-gray-400 border-t-0 border-l-0 border-r-0">
                        <td class="p-4 w-1/4 text-center">12345</td>
                        <td class="p-4 w-1/4 text-center">None</td>
                        <td class="p-4 w-1/4 text-center">1/1/24</td>
                        <td class="p-4 w-1/4 text-center">1/1/27</td>
                        <td class="p-4 w-1/4 text-center">Active</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

