{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}
<div class="">
    <div>
        <div class="flex items-center mb-4 group">
            <i class='bx bx-left-arrow-alt text-xl group-hover:text-blue-600'></i>
            <a href="{% url 'acr' %}"
                class="nav-button previous text-sm py-2 px-1 text-gray-600 cursor-pointer group-hover:underline group-hover:text-blue-600">Back to Home</a>
        </div>
        {% include "components/alerts/messages.html" %}
        <form action="{% url 'groups' %}" method="POST">
            {% csrf_token %}
            {% include "components/acr/fieldsets/acr-group.html" %}
        </form>
    </div>

    <div class="w-full flex items-center space-x-6">
        <a href="{% url 'groups_new' %}" class="bg-white hover:text-primary border border-gray-200 hover:border-primary shadow rounded-md py-2.5 w-full text-center text-base">CREATE RVS</a>
        <a href="" class="bg-white hover:text-primary border border-gray-200 hover:border-primary shadow rounded-md py-2.5 w-full text-center text-base">CREATE ICD</a>
    </div>

    
    <!-- <div class="rounded-md bg-white h-full shadow">
        <div id="navigationn" class="w-full flex items-center bg-primary rounded-t-md border-t-2 border-primary">
            <a href="#" id="tab1-link" class=" py-2 px-4 bg-white rounded-t-md text-sm italic">MAIN GROUP</a>
            <a href="#" id="tab2-link"  hx-target="#main-group" class=" py-2 px-4 bg-primary text-white rounded-t-md text-sm italic">STEMPORARY GROUPS</a>
        </div>
        <div id="tab1" class="p-4 rounded-b-md bg-white">
            <div class="flex flex-col h-full">
                <div class="flex items-start justify-between w-full pb-4">
                    <p class="w-fit text-lg font-medium py-2 drop-shadow-xl text-green-800">ACR GROUPs <span
                        class="italic text-base font-light">(Main)</span></p>
    
                    <div class="flex space-x-4 items-center">
                        <form action="{% url 'groups' %}" class="flex items-center space-x-2">
                            <input type="date" id="date_search" name="date_search" hx-get="{% url 'groups_main' %}" hx-trigger="change delay:500ms" hx-target="#main-group"
                                class="bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-500 focus:border-primary-500 block py-2.5 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        </form>
                        <form action="{% url 'groups' %}" class="flex items-center">
                            <label for="temp_search" class="sr-only">Search</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                        fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <input type="text" id="temp_search" name="description_search" hx-get="{% url 'groups_main' %}" hx-trigger="keyup delay:500ms" hx-target="#main-group"
                                    class="w-80 bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-500 focus:border-primary-500 block pl-10 py-2.5 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                    placeholder="Search Description..">
                            </div>
                        </form>
                    </div>
                </div>
                <div hx-get="{% url 'groups_main' %}" hx-trigger="load" id="main-group" class="h-fit max-h-80 overflow-y-auto ">
                   
                </div>
            </div>
        </div>
        <div id="tab2" style="display: none;" class="p-4 rounded-b-md bg-white">
            <div class="flex flex-col h-fit">
                <div class="flex items-start justify-between w-full pb-4">
                    <p class="w-fit text-lg font-medium py-2 drop-shadow-lg text-red-800">ACR GROUP <span
                        class="italic text-base font-light">(Waiting for approval)</span></p>
                    <div class="flex space-x-4 items-center">
                        <form class="flex items-center space-x-2">
                            <input type="date" id="date_search" name="date_search" hx-get="{% url 'groups_temporary' %}"  hx-trigger="change delay:500ms" hx-target="#temp-group"
                                class="bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-500 focus:border-primary-500 block py-2.5 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        </form>
                        <div class="flex items-center">
                            <label for="temp_search" class="sr-only">Search</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                        fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <input type="text" id="temp_search" name="description_search" hx-get="{% url 'groups_temporary' %}"  hx-trigger="keyup delay:500ms" hx-target="#temp-group"
                                    class="w-80 bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-500 focus:border-primary-500 block pl-10 py-2.5 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                    placeholder="Search Description..">
                            </div>
                        </div>
                    </div>
                </div>
    
                <div hx-get="{% url 'groups_temporary' %}" hx-trigger="load" id="temp-group" class="h-fit max-h-60 overflow-y-auto ">
                    
                </div>             
            </div>
        </div>
    </div> -->
</div>
{% comment %} <script src="{% static 'js/acr/group-list.js' %}"></script> {% endcomment %}
{% endblock content %}