{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}

<div class="p-4 rounded-md border bg-white shadow h-full backdrop-filter backdrop-blur-md bg-opacity-70">

    <div class="flex flex-col h-full">

        <div class="flex items-start justify-between w-full pb-4">
            <p class="w-fit text-xl font-medium py-2 drop-shadow-xl text-green-800"> All Case-Rate</p>

            <section class="flex">
                <button href="/" class="group flex items-center space-x-2 p-2 rounded-md bg-green-800 from-gray-800 to-black text-white font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    <p class="text-sm">Add Item</p>
                </button>
            </section>
        </div>

        <table class="text-sm text-left overflow-x-auto w-full max-h-[600px]">
            <thead class="bg-gray-100 rounded-md flex text-green-800 w-full h-9">
                <tr class="flex w-full justify-center">
                    <th class="p-1 w-1/4 text-center">Group ID</th>
                    <th class="p-1 w-1/4 text-center">Description</th>
                    <th class="p-1 w-1/4 text-center">Effective Date</th>
                    <th class="p-1 w-1/4 text-center">End Date</th>
                    <th class="p-1 w-1/4 text-center">Status</th>
                </tr>
            </thead>
        
            <tbody class="bg-grey-light flex flex-col items-center justify-between w-full text-gray-600 pr-3 pl-2">
                <tr class="flex w-full mb-4 border border-gray-300 border-t-0 border-l-0 border-r-0">
                    <td class="p-4 w-1/4 text-center">12345</td>
                    <td class="p-4 w-1/4 text-center">None</td>
                    <td class="p-4 w-1/4 text-center">1/1/24</td>
                    <td class="p-4 w-1/4 text-center">1/1/27</td>
                    <td class="p-4 w-1/4 text-center">Active</td>
                </tr>

                <tr class="flex w-full mb-4 border border-gray-300 border-t-0 border-l-0 border-r-0">
                    <td class="p-4 w-1/4 text-center">12345</td>
                    <td class="p-4 w-1/4 text-center">None</td>
                    <td class="p-4 w-1/4 text-center">1/1/24</td>
                    <td class="p-4 w-1/4 text-center">1/1/27</td>
                    <td class="p-4 w-1/4 text-center">Active</td>
                </tr>

                <tr class="flex w-full mb-4 border border-gray-300 border-t-0 border-l-0 border-r-0">
                    <td class="p-4 w-1/4 text-center">12345</td>
                    <td class="p-4 w-1/4 text-center">None</td>
                    <td class="p-4 w-1/4 text-center">1/1/24</td>
                    <td class="p-4 w-1/4 text-center">1/1/27</td>
                    <td class="p-4 w-1/4 text-center">Active</td>
                </tr>

                <tr class="flex w-full mb-4 border border-gray-300 border-t-0 border-l-0 border-r-0">
                    <td class="p-4 w-1/4 text-center">12345</td>
                    <td class="p-4 w-1/4 text-center">None</td>
                    <td class="p-4 w-1/4 text-center">1/1/24</td>
                    <td class="p-4 w-1/4 text-center">1/1/27</td>
                    <td class="p-4 w-1/4 text-center">Active</td>
                </tr>

                <tr class="flex w-full mb-4 border border-gray-300 border-t-0 border-l-0 border-r-0">
                    <td class="p-4 w-1/4 text-center">12345</td>
                    <td class="p-4 w-1/4 text-center">None</td>
                    <td class="p-4 w-1/4 text-center">1/1/24</td>
                    <td class="p-4 w-1/4 text-center">1/1/27</td>
                    <td class="p-4 w-1/4 text-center">Active</td>
                </tr>
            </tbody>
        </table>
        
    </div>

</div>

<div class="flex justify-center items-center dark:bg-gray-800 mt-3">

    <div class="dark:border-gray-700  w-full">
        <nav role="navigation" aria-label="Pagination Navigation" class="flex items-center justify-between">
            <div class="hidden flex-1 items-center lg:grid grid-cols-3">
                <div class="flex items-center">
                    <div class="pl-2 text-xs font-medium text-white dark:text-white">
                        Showing 11 to 20 of 99 results
                    </div>
                </div>

                <div class="flex items-center justify-center">
                    <div class="flex items-center space-x-2 filament-tables-pagination-records-per-page-selector rtl:space-x-reverse">
                        <div>
                            <select class="text-xs transition duration-75 bg-transparent border-2 border-gray-100 rounded-lg shadow-sm outline-none focus:border-green-500 focus:ring-1 focus:ring-inset focus:ring-green-500 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:focus:border-green-500">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="-1">All</option>
                            </select>

                            <span class="text-white text-sm font-medium dark:text-white">
                                Per page
                            </span>
                        </div>
                    </div>
                </div>

                <div class="flex items-center justify-end">
                    <div class="py-3 border rounded-lg dark:border-gray-600">
                        <ol
                            class="flex items-center text-sm text-white divide-x rtl:divide-x-reverse divide-gray-300 dark:text-gray-400 dark:divide-gray-600">
                            <li>
                                <button type="button"
                                class="relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-green-500/10 focus:ring-2 focus:ring-green-500 dark:hover:bg-gray-400/5 transition text-white"
                                aria-label="Previous" rel="prev">
                                <svg class="w-5 h-5 rtl:scale-x-[-1]" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                            </li>


                            <li>
                                <button type="button"
                                class="relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-green-500/10 focus:ring-2 focus:ring-green-500 dark:hover:bg-gray-400/5 focus:text-green-600 transition">
                                <span>1</span>
                            </button>
                            </li>
                            <li>
                                <button type="button"
                                class="relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none transition text-green-600 filament-tables-pagination-item-active focus:underline bg-green-500/10 ring-2 ring-green-500">

                                <span>2</span>
                            </button>
                            </li>
                            <li>
                                <button type="button"
                                class="relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-green-500/10 focus:ring-2 focus:ring-green-500 dark:hover:bg-gray-400/5 focus:text-green-600 transition">

                                <span>3</span>
                            </button>
                            </li>
                            <li>
                                <button type="button"
                                class="relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-green-500/10 focus:ring-2 focus:ring-green-500 dark:hover:bg-gray-400/5 focus:text-green-600 transition">

                                <span>4</span>
                            </button>
                            </li>
                            <li>
                                <button type="button"
                                class="relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-green-500/10 focus:ring-2 focus:ring-green-500 dark:hover:bg-gray-400/5 focus:text-green-600 transition">

                                <span>5</span>
                            </button>
                            </li>
                            <li>
                                <button type="button"
                                class="relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-green-500/10 focus:ring-2 focus:ring-green-500 dark:hover:bg-gray-400/5 focus:text-green-600 transition">

                                <span>6</span>
                            </button>
                            </li>
                            <li>
                                <button disabled="" type="button"
                                class="relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none filament-tables-pagination-item-disabled cursor-not-allowed pointer-events-none opacity-70">
                                <span>...</span>
                            </button>
                            </li>


                            <li>
                                <button type="button"
                                class="relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-green-500/10 focus:ring-2 focus:ring-green-500 dark:hover:bg-gray-400/5 focus:text-green-600 transition">

                                <span>9</span>
                            </button>
                            </li>
                            <li>
                                <button type="button"
                                class="relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-green-500/10 focus:ring-2 focus:ring-green-500 dark:hover:bg-gray-400/5 focus:text-green-600 transition">

                                <span>10</span>
                            </button>
                            </li>

                            <li>
                                <button type="button"
                                class="relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-green-500/10 focus:ring-2 focus:ring-green-500 dark:hover:bg-gray-400/5 transition text-white"
                                aria-label="Next" rel="next">
                                <svg class="w-5 h-5 rtl:scale-x-[-1]" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

{% endblock %}

