{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
<div class="py-4 h-auto">
    <div class="py-6 px-2">
        <ol
            class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
            <li
                class="  flex md:w-full items-center sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-white after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                <span data-next="section1" style="background-color: #1ED760;"
                    class="stepper-nav-button  rounded-full flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-white dark:after:text-gray-500 cursor-pointer">
                    <span
                        class="w-6 h-6 bg-transparent border-2 border-white rounded-full flex justify-center items-center mx-auto text-sm  lg:w-10 lg:h-10 text-white">1</span>
                </span>
            </li>
            <li
                class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-white after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                <span data-next="section2"
                    class="stepper-nav-button rounded-full flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500 cursor-pointer">
                    <span
                        class=" w-6 h-6 bg-transparent border-2 border-white rounded-full flex justify-center items-center mx-auto text-sm  lg:w-10 lg:h-10 text-white">2</span>
                </span>
            </li>
            <li
                class=" flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-white after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                <span data-next="section3"
                    class="stepper-nav-button rounded-full flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500 cursor-pointer">
                    <span
                        class=" w-6 h-6 bg-transparent border-2 border-white rounded-full flex justify-center items-center mx-auto text-sm  lg:w-10 lg:h-10 text-white">3</span>
                </span>
            </li>
            <li
                class=" flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-white after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                <span data-next="section4"
                    class="stepper-nav-button rounded-full flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500 cursor-pointer">
                    <span
                        class=" w-6 h-6 bg-transparent border-2 border-white rounded-full flex justify-center items-center mx-auto text-sm  lg:w-10 lg:h-10 text-white">4</span>
                </span>
            </li>
            <li
                class=" flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-white after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                <span data-next="section5"
                    class="stepper-nav-button rounded-full flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500 cursor-pointer">
                    <span
                        class=" w-6 h-6 bg-transparent border-2 border-white rounded-full flex justify-center items-center mx-auto text-sm  lg:w-10 lg:h-10 text-white">5</span>
                </span>
            </li>
            <li
                class=" flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-white after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                <span data-next="section6"
                    class="stepper-nav-button rounded-full flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500 cursor-pointer">
                    <span
                        class=" w-6 h-6 bg-transparent border-2 border-white rounded-full flex justify-center items-center mx-auto text-sm  lg:w-10 lg:h-10 text-white">6</span>
                </span>
            </li>
            <li
                class=" flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-white after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                <span data-next="section7"
                    class="stepper-nav-button rounded-full flex items-center after:content-['/'] sm:after:hidden after:mx-2 cursor-pointer">
                    <span
                        class=" w-6 h-6 bg-transparent border-2 border-white rounded-full flex justify-center items-center mx-auto text-sm  lg:w-10 lg:h-10 text-white">7</span>
                </span>
            </li>
            <li class=" flex items-center cursor-pointer">
                <span data-next="section8" class="stepper-nav-button rounded-full">
                    <span
                        class=" w-6 h-6 bg-transparent border-2 border-white rounded-full flex justify-center items-center mx-auto text-sm  lg:w-10 lg:h-10 text-white">8</span>
                </span>
            </li>
        </ol>
    </div>

    <div class="flex">
        <div class="flex items-center p-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 bg-opacity-40 dark:bg-gray-800 dark:text-yellow-300" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div>
                <span class="font-medium">Warning!</span> Your are about to add new ICDS.
            </div>
        </div>
    </div>

    <div class="h-full">
        <form action="{% url 'rvs_create' %}" method="POST">
            <div class="flex flex-col space-y-4">
                {% csrf_token %}
                <div>
                    <div id="section1" class="form-section">
                        {% include "components/acr/fieldsets/acr-group.html" %}
                        {% include "components/acr/fieldsets/acr-icds.html" %}
                        <div class="flex items-start space-x-4 mt-4">
                            <a href="{% url 'groups' %}" class="nav-button previous py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-gray-300">Back</a>
                            <a class="nav-button next py-2.5 px-6 rounded-md cursor-pointer bg-[#1ED760] text-white"
                                data-next="section2">Next</a>
                        </div>
                    </div>
                    <div id="section2" data-section="2" style="display: none;" class="form-section">
                        {% include "components/acr/fieldsets/acr-inputs.html" %}
                        <div class="flex items-start space-x-4 mt-4">
                            <a class="nav-button previous py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-gray-300"
                                data-back="section1">Back</a>
                            <a class="nav-button next py-2.5 px-6 rounded-md cursor-pointer bg-[#1ED760] text-white"
                                data-next="section3">Next</a>
                        </div>
                    </div>
                    <div id="section3" data-section="3" style="display: none;" class="form-section">
                        {% include "components/acr/fieldsets/acr-inputs-2.html" %}
                        <div class="flex items-start space-x-4 mt-4">
                            <a class="nav-button previous py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-gray-300"
                                data-back="section2">Back</a>
                            <a class="nav-button next py-2.5 px-6 rounded-md cursor-pointer bg-[#1ED760] text-white"
                                data-next="section4">Next</a>
                        </div>
                    </div>
                    <div id="section4" data-section="4" style="display: none;" class="form-section">
                        {% include "components/acr/fieldsets/acr-checkboxes.html" %}
                        <div class="flex items-start space-x-4 mt-4">
                            <a class="nav-button previous py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-gray-300"
                                data-back="section3">Back</a>
                            <a class="nav-button next py-2.5 px-6 rounded-md cursor-pointer bg-[#1ED760] text-white"
                                data-next="section5">Next</a>
                        </div>
                    </div>
                    <div id="section5" data-section="5" style="display: none;" class="form-section">
                        {% include "components/acr/fieldsets/acr-checkboxes-2.html" %}
                        <div class="flex items-start space-x-4 mt-4">
                            <a class="nav-button previous py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-gray-300"
                                data-back="section4">Back</a>
                            <a class="nav-button next py-2.5 px-6 rounded-md cursor-pointer bg-[#1ED760] text-white"
                                data-next="section6">Next</a>
                        </div>
                    </div>
                    <div id="section6" data-section="6" style="display: none;" class="form-section">
                        {% include "components/acr/fieldsets/acr-comp-input.html" %}
                        <div class="flex items-start space-x-4 mt-4">
                            <a class="nav-button previous py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-gray-300"
                                data-back="section5">Back</a>
                            <a class="nav-button next py-2.5 px-6 rounded-md cursor-pointer bg-[#1ED760] text-white"
                                data-next="section7">Next</a>
                        </div>
                    </div>

                    <div id="section7" data-section="7" style="display: none;" class="form-section">
                        {% include "components/acr/fieldsets/acr-code-inputs.html" %}
                        <div class="flex items-start space-x-4 mt-4">
                            <a class="nav-button previous py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-gray-300"
                                data-back="section6">Back</a>
                            <a class="nav-button next py-2.5 px-6 rounded-md cursor-pointer bg-[#1ED760] text-white"
                                data-next="section8">Next</a>
                        </div>
                    </div>

                    <div id="section8" data-section="8" style="display: none;" class="form-section">
                        {% include "components/acr/fieldsets/acr-validation-rules.html" %}
                        <div class="flex items-start space-x-4 mt-4">
                            <a class="nav-button previous py-2.5 px-6 bg-gray-200 text-gray-600 rounded-md cursor-pointer hover:bg-gray-300"
                                data-back="section7">Back</a>
                            <a class="nav-button next py-2.5 px-6 rounded-md cursor-pointer bg-[#1ED760] text-white"
                                data-next="section5">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/acr/create-rvs.js' %}"></script>
{% endblock %}