{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
<div class="py-6 px-2 h-auto">
    <div class="h-full flex flex-col space-y-4">
        <form action="{% url 'rvs_create' %}" method="POST">
            {% csrf_token %}
            <div class="flex flex-col space-y-4">
                <div class="flex items-start space-x-4 ">
                    <a href="{% url 'groups' %}"
                        class="nav-button previous text-sm py-2.5 px-6 bg-white bg-opacity-40 text-gray-600 rounded-md cursor-pointer hover:bg-gray-300">Back</a>
                </div>
                {% include "components/acr/fieldsets/acr-icds.html" %}
            </div>
        </form>
        <div class="p-6 py-8 rounded-md bg-white h-full backdrop-filter backdrop-blur-md bg-opacity-40">

            <div class="flex flex-col h-full">
                <div class="flex items-start justify-between w-full pb-4">
                    <p class="w-fit text-xl font-medium py-2 drop-shadow-xl text-green-800">ACR ICDS</p>
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                    fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input type="text" id="simple-search"
                                class="w-96 bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block pl-10 py-2.5 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Search" required="">
                        </div>
                        <button
                            class="ml-2 text-white bg-[#1ED760] focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Search</button>
                    </form>
                </div>

                <table class="w-full text-center border-collapse">
                    <thead class="bg-gray-200">
                        <tr>
                            <th class="p-2 border border-gray-400">GROUP ID</th>
                            <th class="p-2 border border-gray-400">ICD CODE</th>
                            <th class="p-2 border border-gray-400">DESCRIPPTION</th>
                            <th class="p-2 border border-gray-400">EFFECTIVE DATE</th>
                            <th class="p-2 border border-gray-400">STATUS</th>
                            <th class="p-2 border border-gray-400">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        <tr>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit.
                                Aliquid perferendis</td>
                            <td class="p-2 border border-gray-400">1/1/24</td>
                            <td class="p-2 border border-gray-400">
                                <span
                                    class="py-1 px-2 rounded text-green-800 bg-green-50 bg-opacity-80 text-xs font-light">Active</span>
                            </td>
                            <td class="p-2 border border-gray-400">
                                <div class="flex items-center justify-end space-x-1 px-4">
                                    <a href="{% url 'set_icds_rules' %}" class="py-1 px-2 rounded text-white bg-[#1ED760] text-xs font-light">Add Rules</a>
                                    <a href="{% url 'set_icds_rules' %}" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                    <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                    <a href=""
                                        class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                                adipisicing </td>
                            <td class="p-2 border border-gray-400">1/1/27</td>
                            <td class="p-2 border border-gray-400">
                                <span
                                    class="py-1 px-2 rounded text-red-800 bg-red-50 bg-opacity-80 text-xs font-light">Inactive</span>
                            </td>
                            <td class="p-2 border border-gray-400">
                                <div class="flex items-center justify-end space-x-1 px-4">
                                    <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                    <a href=""
                                        class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                perferendis</td>
                            <td class="p-2 border border-gray-400">1/1/27</td>
                            <td class="p-2 border border-gray-400">
                                <span
                                    class="py-1 px-2 rounded text-green-800 bg-green-50 bg-opacity-80 text-xs font-light">Active</span>
                            </td>
                            <td class="p-2 border border-gray-400">
                                <div class="flex items-center justify-end space-x-1 px-4">
                                    <a href="{% url 'set_icds_rules' %}" class="py-1 px-2 rounded text-white bg-[#1ED760] text-xs font-light">Add Rules</a>
                                    <a href="{% url 'set_icds_rules' %}" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                    <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                    <a href=""
                                        class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                perferendis</td>
                            <td class="p-2 border border-gray-400">1/1/27</td>
                            <td class="p-2 border border-gray-400">
                                <span
                                    class="py-1 px-2 rounded text-green-800 bg-green-50 bg-opacity-80 text-xs font-light">Active</span>
                            </td>
                            <td class="p-2 border border-gray-400">
                                <div class="flex items-center justify-end space-x-1 px-4">
                                    <a href="{% url 'set_icds_rules' %}" class="py-1 px-2 rounded text-white bg-[#1ED760] text-xs font-light">Add Rules</a>
                                    <a href="{% url 'set_icds_rules' %}" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                    <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                    <a href=""
                                        class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                                adipisicing </td>
                            <td class="p-2 border border-gray-400">1/1/27</td>
                            <td class="p-2 border border-gray-400">
                                <span
                                    class="py-1 px-2 rounded text-red-800 bg-red-50 bg-opacity-80 text-xs font-light">Inactive</span>
                            </td>
                            <td class="p-2 border border-gray-400">
                                <div class="flex items-center justify-end space-x-1 px-4">
                                    <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                    <a href=""
                                        class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                                adipisicing </td>
                            <td class="p-2 border border-gray-400">1/1/27</td>
                            <td class="p-2 border border-gray-400">
                                <span
                                    class="py-1 px-2 rounded text-red-800 bg-red-50 bg-opacity-80 text-xs font-light">Inactive</span>
                            </td>
                            <td class="p-2 border border-gray-400">
                                <div class="flex items-center justify-end space-x-1 px-4">
                                    <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                    <a href=""
                                        class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">12345</td>
                            <td class="p-2 border border-gray-400">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                perferendis</td>
                            <td class="p-2 border border-gray-400">1/1/27</td>
                            <td class="p-2 border border-gray-400">
                                <span
                                    class="py-1 px-2 rounded text-green-800 bg-green-50 bg-opacity-80 text-xs font-light">Active</span>
                            </td>
                            <td class="p-2 border border-gray-400">
                                <div class="flex items-center justify-end space-x-1 px-4">
                                    <a href="{% url 'set_icds_rules' %}" class="py-1 px-2 rounded text-white bg-[#1ED760] text-xs font-light">Add Rules</a>
                                    <a href="{% url 'set_icds_rules' %}" class="py-1 px-2 rounded text-white bg-yellow-400 text-xs font-light">Edit</a>
                                    <a href="" class="py-1 px-2 rounded text-white bg-red-500 text-xs font-light">Delete</a>
                                    <a href="" class="py-1 px-2 rounded text-white bg-blue-500 text-xs font-light">View</a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/acr/create-rvs.js' %}"></script>
{% endblock %}