{% load static %}
<div class="flex items-center space-x-3">
    <img src="{% static 'images/profile.jpg' %}" alt="" class="w-12 h-12 max-w-14 max-h-14 rounded-full object-cover object-center border border-gray-200">
    <div class="flex flex-col leading-4">
        <span class="text-sm font-semibold">{{user.first_name}} {{user.last_name}}</span>
        {% for group in user.groups.all %}
            <span class="text-xs text-[#1ED760]">{{ group.name }}</span>
        {% endfor %}
    </div>
</div>