
<div class="">
    <div class="flex flex-col">
        <!-- CHECK ADDITIONAL CODES -->
        <div>
            <div class="w-full px-4  bg-primary">
                <p class="w-fit text-sm font-medium py-2 drop-shadow-lg text-white">ADDITIONAL CODES</p>
            </div>
            <div id="additional-code-cntr" class="relative p-5 bg-white shadow ">
                <div class="w-full flex space-x-4">
                    <label class="text-gray-700 uppercase text-sm font-medium">Check Additional Codes</label>
                    <input type="hidden" name="CHECK_ADDITIONAL_CODES" id="CHECK_ADDITIONAL_CODES">
                    {% for error in form.CHECK_ADDITIONAL_CODES.errors %}
                    <div class="flex items-center space-x-1 text-sm text-red-500">
                        <i class='bx bx-error-circle text-base'></i>
                        <span>{{ error }}</span>
                    </div>
                    {% endfor %} 
                </div>
                
                <div class="flex flex-row space-x-5">
                    <div class="w-full basis-1/2">
                        <div class="w-full flex flex-col space-y-1 mb-4">
                            <div class="w-full mx-auto">
                                <label for="default-search"
                                    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                        </svg>
                                    </div>
                                    <input type="search" name="code_search" id="default-search" hx-get="/rvs/codes/" hx-trigger="keyup delay:500ms" hx-target="#aditional-codes-results"
                                        class="block w-full h-12 p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white bg-opacity-60 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Search Additional Code..." />
                                </div>
                            </div>
                        </div>
                        <div id="aditional-codes-results" hx-get="/rvs/codes/" hx-trigger="load" class="w-full mt-0 py-2 flex flex-col space-y-1 h-40 overflow-y-scroll rounded-lg pr-2">
                           <!-- Code container -->
                        </div>
                    </div>
    
                    <div class="w-full basis-1/2">
                        <div class="w-full flex flex-col space-y-1 mb-10">
                            <label class="text-gray-700 uppercase text-sm font-medium">Added additional Codes:</label>
                        </div>
                        <div class="current-additional-codes-container w-full mt-4 py-2 flex flex-col space-y-1 h-40 overflow-y-auto rounded-lg pr-4">
                            <!-- Current Codes will be added here -->
                        </div>
                        <div class="flex items-center space-x-2">
                            <span>Preview:</span>
                            <span id="codes-preview"></span>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

        <!-- CHECK SPC RELATED BEN CODES -->
        <div>
            <div class="w-full px-4 bg-primary">
                <p class="w-fit text-sm font-medium py-2 drop-shadow-lg text-white">SPC RELATED BEN CODES</p>
            </div>
            <div id="spc-code-cntr" class="relative p-5 rounded-b-md bg-white shadow">
                <div class="w-full flex space-x-4">
                    <label class="text-gray-700 uppercase text-sm font-medium">Check SPC Related BEN Codes</label>
                    <input type="hidden" name="CHECK_SPC_RELATED_BEN_CODES" id="CHECK_SPC_RELATED_BEN_CODES">
                    {% for error in form.CHECK_SPC_RELATED_BEN_CODES.errors %}
                    <div class="flex items-center space-x-1 text-sm text-red-500">
                        <i class='bx bx-error-circle text-base'></i>
                        <span>{{ error }}</span>
                    </div>
                    {% endfor %} 
                </div>
                <div class="flex flex-row space-x-5">
                    <div class="w-full basis-1/2">
                        <div class="w-full flex flex-col space-y-1 mb-4">
                            <div class="w-full mx-auto">
                                <label for="default-search"
                                    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                        </svg>
                                    </div>
                                    <input name="spc_code_search" type="search" id="default-search" hx-get="/spc/codes/" hx-trigger="keyup delay:500ms" hx-target="#spc-code-results"
                                        class="block w-full h-12 p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white bg-opacity-60 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Search SPC Related BEN Codes..." />
                                </div>
                            </div>
                        </div>
                        <div hx-get="/spc/codes/" hx-trigger="load" id="spc-code-results" class="w-full mt-0 py-2 flex flex-col space-y-1 h-40 overflow-y-scroll rounded-lg pr-2">
                            <!-- spc code container -->
                        </div>
                    </div>
    
                    <div class="w-full basis-1/2">
                        <div class="w-full flex flex-col space-y-1 mb-10">
                            <label class="text-gray-700 uppercase text-sm font-medium">Added Related BEN Codes:</label>
                        </div>
                        <div class="current-spc-codes-container w-full mt-4 py-2 flex flex-col space-y-1 h-40 overflow-y-auto rounded-lg pr-4">
                            <!-- ADDED SPC CODE CNTR -->
                        </div>
                        <div class="flex items-center space-x-2">
                            <span>Preview:</span>
                            <span id="spc-codes-preview"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    updateCodeCntr('.current-spc-codes-container');
    updateCodeCntr('.current-additional-codes-container');

    // CHECK ADDITIONAL CODES

    let codes = [];

    function addAdditionalCode(button) {

        let code = button.parentElement.querySelector('.code').textContent;

        if (!codes.includes(code)) {
            codes.push(code);

            var compiledCodes = document.querySelector('#CHECK_ADDITIONAL_CODES').value = codes.join(' ');
            document.querySelector('#codes-preview').textContent = compiledCodes;

            let currentCodesContainer = document.querySelector('.current-additional-codes-container');
            currentCodesContainer.innerHTML += `
                        <div class="w-full flex items-center justify-between p-2 rounded-md border border-gray-300 cursor-pointer bg-white bg-opacity-40">
                            <span class="text-sm">${code}</span>
                            <!-- Current Codes will be added here -->
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 minus-button">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                            </svg>                        
                        </div>`;

            currentCodesContainer.querySelectorAll('.minus-button').forEach(mBtn => {
                mBtn.addEventListener('click', function () {
                    let codeToRemove = this.parentElement.querySelector('span').textContent;
                    codes = codes.filter(c => c !== codeToRemove);

                    var compiledCodes = document.querySelector('#CHECK_ADDITIONAL_CODES').value = codes.join(' ');
                    document.querySelector('#codes-preview').textContent = compiledCodes;

                    this.parentElement.remove();
                    updateCodeCntr('.current-additional-codes-container');
                });
            });
            updateCodeCntr('.current-additional-codes-container');
        } else {
            let errorMessageDiv = document.createElement('div');
            errorMessageDiv.innerHTML = `
                <div class="absolute top-5 right-5 w-fit rounded p-2 bg-red-200 text-red-800">
                    <span>This code has already been added.</span>
                </div>`;
            document.querySelector('#additional-code-cntr').appendChild(errorMessageDiv);

            setTimeout(function() {
                errorMessageDiv.remove();
            }, 1500);
        }
    }


    // CHECK SPC RELATED BEN CODES

    let SPCcodes = [];

    function addSPCcode(button) {
        let code = button.parentElement.querySelector('.spc-code').textContent;

        if (!SPCcodes.includes(code)) {
            
            SPCcodes.push(code);

            var compiledCodes = document.querySelector('#CHECK_SPC_RELATED_BEN_CODES').value = SPCcodes.join(' ');
            document.querySelector('#spc-codes-preview').textContent = compiledCodes;

            let currentCodesContainer = document.querySelector('.current-spc-codes-container');
            currentCodesContainer.innerHTML += `
                        <div class="w-full flex items-center justify-between p-2 rounded-md border border-gray-300 cursor-pointer bg-white bg-opacity-40">
                            <span class="text-sm">${code}</span>
                            <!-- Current Codes will be added here -->
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 spc-minus-button">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                            </svg>                        
                        </div>`;

            currentCodesContainer.querySelectorAll('.spc-minus-button').forEach(mBtn => {
                mBtn.addEventListener('click', function () {
                    let codeToRemove = this.parentElement.querySelector('span').textContent;
                    SPCcodes = SPCcodes.filter(c => c !== codeToRemove);

                    var compiledCodes = document.querySelector('#CHECK_SPC_RELATED_BEN_CODES').value = SPCcodes.join(' ');
                    document.querySelector('#spc-codes-preview').textContent = compiledCodes;

                    this.parentElement.remove();

                    updateCodeCntr('.current-spc-codes-container');
                });
            });
            updateCodeCntr('.current-spc-codes-container');
        } else {
            let errorMessageDiv = document.createElement('div');
            errorMessageDiv.innerHTML = `
                <div class="absolute top-5 right-5 w-fit rounded p-2 bg-red-200 text-red-800">
                    <span>This code has already been added.</span>
                </div>`;
            document.querySelector('#spc-code-cntr').appendChild(errorMessageDiv);

            setTimeout(function() {
                errorMessageDiv.remove();
            }, 1500);
        }
    }
    

    function updateCodeCntr(container) {
        let cntr = document.querySelector(container);

        let noCodeMessage = cntr.querySelector('.no-code-message');
        if (noCodeMessage) {
            noCodeMessage.remove();
        }

        if (!cntr.textContent.trim() || !cntr.innerHTML.trim()) {
            cntr.innerHTML = `<div class="no-code-message h-full w-full flex items-center justify-center">
                                <span class="text-red-500 text-sm">No Data</span>
                             </div>`;
        }
    }


</script>
