{% load static %}
<div class="w-full px-4 bg-primary">
    <p class="w-fit text-sm font-medium py-2 drop-shadow-lg text-white">VALIDATION RULES</p>
</div>
<div class="p-4 py-5 rounded-b-md bg-white shadow">
    <div class="flex flex-col space-y-1">
        <div class="flex space-x-4">
            <label for="" class="text-gray-700 uppercase text-sm font-medium">Validation Rules</label>
            {% for error in form.VALIDATION_RULES.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
            {% endfor %} 
        </div>
        <textarea name="VALIDATION_RULES" id="textarea"
            class="w-full h-auto min-h-52 rounded-lg border border-gray-300 bg-white bg-opacity-60"
            placeholder="Validation Rules..">
            {% if form.VALIDATION_RULES %}{{ form.VALIDATION_RULES.value|escape }} {% endif %}
        </textarea>
    </div>
    <div class="w-full py-2 flex flex-col items-start justify-between space-y-6">
        <div class="w-full flex flex-wrap items-center gap-1 justify-start">
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&#123;&#123;&#123;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&#125;&#125;&#125;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&#123;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&#125;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&#91;&#91;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&#93;&#93;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&#40;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&#41;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&lt;=</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&gt;=</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&lt;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&gt;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>=</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&quot;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>&apos;</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>,</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-11 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>-</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-14 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>AND</span>
            </button>
            <button type="button"
                class="key bg-gray-800 hover:bg-gray-900 text-white w-14 h-11 border border-gray-300 rounded-md flex items-center justify-center ">
                <span>OR</span>
            </button>
        </div>

        <div class="w-full flex flex-col space-y-4">
            <div class="w-full flex items-center space-x-1">
                <div>
                    <div class="w-full relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </div>
                        <input name="validation_rules_search" type="search" id="default-search" hx-get="{% url 'claim_validation_rules' %}" hx-trigger="keyup delay:500ms" hx-target="#claim-validation-rules-cntr"
                            class="block w-full h-12 p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white bg-opacity-60 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Search validation rules..." />
                    </div>
                </div>
            </div>
            <div hx-get="{% url 'claim_validation_rules' %}" hx-trigger="load" hx-target="#claim-validation-rules-cntr">
                <div id="claim-validation-rules-cntr" class="w-full h-auto max-h-40 overflow-y-auto flex flex-col space-y-1 pr-1"></div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/acr/validation-rules.js' %}"></script>