<div>
    <div id="alert-border-2" class="flex items-center px-4 py-2 rounded-t-md text-green-800 bg-primary shadow dark:bg-gray-800 dark:border-green-800" role="alert">
        <div class="px-1 text-base text-white">
            CREATION OF NEW ACR  RVS
          </div>
    </div>
    {% include "components/alerts/modal-messages.html" %}
    <div class="flex flex-col space-y-4 p-4 rounded-b-md bg-white shadow">
        <div class="w-full flex items-start justify-between space-x-6">
            <div class="w-full">
                {% include "components/text-input.html" with name='RVSCODE' label='RVS CODE' old=form.RVSCODE %}
                {% for error in form.RVSCODE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="w-full">
                {% include "components/date-input.html" with name='EFF_DATE' label='Effectivity Date' old=form.EFF_DATE %}
                {% for error in form.EFF_DATE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="w-full">
                {% include "components/date-input.html" with name='END_DATE' label='Effectivity End Date' old=form.END_DATE %}
                {% for error in form.END_DATE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="w-full">
                {% include "components/number-input.html" with name='RVU' label='RVU' pholder='0' old=form.RVU %}
                {% for error in form.RVU.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="w-full">
            {% include "components/text-field.html" with name='DESCRIPTION' label='Description' old=form.DESCRIPTION %}
            {% for error in form.DESCRIPTION.errors %}
                <div class="text-sm text-red-500">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="flex items-start space-x-4 mt-4">
            <button type="submit" class="nav-button text-sm next py-2.5 px-6 rounded-md cursor-pointer bg-primary text-white">SAVE</button>
        </div>
    </div>
</div>


