<div class="p-5 border border-gray-200 rounded-lg">
    <h1>Group</h1>
    <div class="w-full flex items-start justify-between space-x-6">
        {% include "components/date-input.html" with name='RVS_EFF_DATE' label='Effectivity Date' %}
        {% include "components/date-input.html" with name='RVS_END_DATE' label='Effectivity End Date' %}
        {% include "components/text-input.html" with name='RVS_END_DATE' label='Effectivity End Date' %}
        {% include "components/text-input.html" with name='RVS_END_DATE' label='Effectivity End Date' %}
    </div>
    {% include "components/text-field.html" with name='RVS_DESCRIPTION' label='Description' %}
</div>