<div class="w-full px-4 rounded-t-lg bg-primary">
    <p class="w-fit text-sm font-medium py-2 drop-shadow-lg text-white">FORM 4</p>
</div>
<div class="p-8 py-12 rounded-b-md bg-white shadow">
    <div class="w-full flex flex-col items-start space-y-14">

        <div class="w-full flex flex-row items-start justify-between space-x-14 ">
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='CHECK_PCF_SECONDARY_CR' label='Check PCF Secondary CR' %}
            </div>
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='CHECK_ASC_SECONDARY_CR' label='Check ASC Secondary CR' %}
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-14 ">
            <div class="w-full">
                {% include "components/true-false-NA-checkbox.html" with name='CHECK_PREAUTHORIZATION' label='Check Preauthorization' %}
            </div>
            <div class="w-full">
                {% include "components/true-false-NA-checkbox.html" with name='CHECK_LATERALITY' label='Check Laterality' %}
            </div>
        </div>


        <div class="w-full flex flex-row items-start justify-between space-x-14 ">
            <div class="w-full">
                {% include "components/true-false-NA-checkbox.html" with name='CHECK_FACILITY_OPMC' label='Check Facility OPMC' %}
            </div>
            <div class="w-full">
                {% include "components/true-false-NA-checkbox.html" with name='CHECK_FACILITY_TBDOTSC' label='Check  TBDOTSC' %}
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-14 ">
            <div class="w-full">
                {% include "components/true-false-NA-checkbox.html" with name='CHECK_FACILITY_TSEKAP' label='Check Facility TSEKAP' %}
            </div>
            <div class="w-full">
                {% include "components/true-false-NA-checkbox.html" with name='CHECK_FACILITY_ABTC' label='Check Facility ABTC' %}
            </div>
        </div>

    </div>
</div>
