{% load static %}
<div
    class="p-5 rounded-lg flex flex-col space-y-8 bg-white shadow-2xl h-5/6 mt-3 backdrop-filter backdrop-blur-md bg-opacity-50">
    <div class="w-full">

        <div class="w-full flex flex-row items-start justify-between space-x-6">
            <div class="basis-6/12">
                <div class="w-full pb-6">
                    {% include "components/date-input.html" with name='EFF_DATE' label='Effectivity Date' old=form.EFF_DATE %}
                    {% for error in form.EFF_DATE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="basis-6/12">
                <div class="w-full pb-6">
                    {% include "components/date-input.html" with name='EFF_END_DATE' label='Effectivity End Date' old=form.EFF_END_DATE %}
                    {% for error in form.EFF_END_DATE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-6">
            <div class="basis-6/12">
                <div class="w-full pb-6">
                    {% include "components/number-input.html" with name='PRIMARY_HOSP_SHARE' label='Primary Hospital Share' pholder='0.00' %}
                    {% for error in form.PRIMARY_HOSP_SHARE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="w-full pb-6">
                    {% include "components/number-input.html" with name='SECONDARY_HOSP_SHARE' label='Secondary Hospital Share' pholder='0.00' %}
                    {% for error in form.SECONDARY_HOSP_SHARE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="basis-6/12">
                <div class="w-full pb-6">
                    {% include "components/number-input.html" with name='PRIMARY_PROF_SHARE' label='Primary Professional Share' pholder='0.00' %}
                    {% for error in form.PRIMARY_PROF_SHARE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="w-full pb-6">
                    {% include "components/number-input.html" with name='SECONDARY_PROF_SHARE' label='Secondary Professional Share' pholder='0.00' %}
                    {% for error in form.SECONDARY_PROF_SHARE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-6">
            <div class="basis-6/12">
                <div class="w-full pb-6">
                    {% include "components/number-input.html" with name='PCF_HOSP_SHARE' label='PCF Hospital Share' pholder='0.00' %}
                    {% for error in form.PCF_HOSP_SHARE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="w-full flex flex-col space-y-1 pb-6">
                    <label id="CHECK_OCCURS_PER_CLAIM_LABEL" for="CHECK_OCCURS_PER_CLAIM" class="text-base">Check
                        Occurence Per Claim</label>
                    <input type="text" id="CHECK_OCCURS_PER_CLAIM" name="CHECK_OCCURS_PER_CLAIM" placeholder="0"
                        class="px-4 py-2.5 text-base rounded-lg border border-gray-300 placeholder:italic placeholder:text-gray-400">
                    <div class="w-full flex flex-row items-start justify-between">
                        <div class="w-full items-center mb-4">
                            <input id="CHECK_OCCURS_PER_CLAIM_MULTIPLE" type="radio" name="CHECK_OCCURS_PER_CLAIM"
                                value="M"
                                class="cursor-pointer w-4 h-4 text-green-500 bg-gray-200 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="CHECK_OCCURS_PER_CLAIM"
                                class="ms-2 text-sm  text-gray-700 dark:text-gray-300">Multiple</label>
                        </div>
                        <div class="w-full items-center mb-4">
                            <input id="CHECK_OCCURS_PER_CLAIM_NOTAPPLICABLE" type="radio" name="CHECK_OCCURS_PER_CLAIM"
                                value="N/A"
                                class="cursor-pointer w-4 h-4 text-green-500 bg-gray-200 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="CHECK_OCCURS_PER_CLAIM"
                                class="ms-2 text-sm  text-gray-700 dark:text-gray-300">Not Applicable</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="basis-6/12">

                <div class="w-full pb-6">
                    {% include "components/number-input.html" with name='PCF_PROF_SHARE' label='PCF Professional Share' pholder='0.00' %}
                    {% for error in form.PCF_PROF_SHARE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="w-full flex flex-col space-y-1 pb-6">
                    <label id="CHECK_OCCURS_PER_PERSON_LABEL" for="CHECK_OCCURS_PER_PERSON" class="text-base">Check
                        Occurence Per Person</label>
                    <input type="text" id="CHECK_OCCURS_PER_PERSON" name="CHECK_OCCURS_PER_PERSON" placeholder="0"
                        class="px-4 py-2.5 text-base rounded-lg border border-gray-300 placeholder:italic placeholder:text-gray-400">
                    <div class="w-full flex-col items-start justify-between">
                        <div class="flex flex-row pb-2">
                            <div class="w-full flex items-center">
                                <input id="CHECK_OCCURS_PER_PERSON_Multiple" type="radio" name="CHECK_OCCURS_PER_PERSON"
                                    value="M"
                                    class="cursor-pointer w-4 h-4 text-green-500 bg-gray-200 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="CHECK_OCCURS_PER_PERSON"
                                    class="ms-2 text-sm  text-gray-700 dark:text-gray-300">Multiple</label>
                            </div>
                            <div class="w-full flex items-center ">
                                <input id="CHECK_OCCURS_PER_PERSON_NotApplicable" type="radio"
                                    name="CHECK_OCCURS_PER_PERSON" value="N/A"
                                    class="cursor-pointer w-4 h-4 text-green-500 bg-gray-200 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="CHECK_OCCURS_PER_PERSON"
                                    class="ms-2 text-sm  text-gray-700 dark:text-gray-300">Not Applicable</label>
                            </div>
                        </div>
                        <div class="w-full flex items-center">
                            <input id="DENIED_AND_PENDING_CLAIM" type="checkbox" name="DENIED_AND_PENDING_CLAIM"
                                class="cursor-pointer w-4 h-4 text-green-500 bg-gray-200 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label id="DENIED_AND_PENDING_CLAIM_LABEL" for="DENIED_AND_PENDING_CLAIM"
                                class="ms-2 text-sm  text-gray-700 dark:text-gray-300 italic">Including Denied and
                                Pending Claim</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <!-- <div class="w-full flex flex-row items-start space-x-6">
            
            <div class="basis-4/6 flex flex-row">
    
                <div class="basis-1/2 pr-2">
                    {% include "components/date-input.html" with name='EFF_DATE' label='Effectivity Date' old=form.EFF_DATE %}
                    {% for error in form.EFF_DATE.errors %}
                        <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="basis-1/2">
                    {% include "components/date-input.html" with name='EFF_END_DATE' label='Effectivity End Date' old=form.EFF_END_DATE %}
                    {% for error in form.EFF_END_DATE.errors %}
                        <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>
    
            </div>
    
            <div class="basis-2/6">
    
                <div class="w-full">
                    {% include "components/number-input.html" with name='FIXED_COPAY' label='Fixed Copay' old=form.FIXED_COPAY pholder='0' %}
                    {% for error in form.FIXED_COPAY.errors %}
                        <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>
    
            </div>
            
        </div> -->

        <!-- <div class="w-full flex items-start justify-between space-x-6">
            <div class="w-full flex flex-col space-y-2 ">
                <div class="w-full flex flex-col space-y-1 ">
                    <div class="w-full">
                        <label for="CHECK_AGE" class="text-base">Check Age</label>
                        <input type="hidden" name="CHECK_AGE" id="CHECK_AGE">
                    </div>
                    <div class="w-full flex items-start justify-between py-2.5 border-t border-gray-300">
                        <div class="w-full flex items-center">
                            <input id="CHECK_AGE_NOT_APPLICABLE" type="checkbox" name="CHECK_AGE" value="N/A" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="CHECK_AGE" class="ms-2 text-sm  text-gray-700 dark:text-gray-300">Not Applicable</label>
                        </div>
                    </div>
                    <div >
                        <div class="w-full flex items-start justify-between space-x-4">
                            <div class="w-1/5">
                                <label for="OPERATOR" class="text-base">Maximum</label>
                                <select id="OPERATOR" type="text" class="w-full px-4 py-2.5 text-base rounded-lg border border-gray-300">
                                    <option  disabled></option>
                                    <option value="">N/A</option>
                                    <option value="<"><</option>
                                    <option value="<">></option>
                                    <option value="<="><=</option>
                                    <option value=">=">>=</option>
                                </select>
                            </div>
                            <div class="w-1/5">
                                <label for="MINIMUM" class="text-base">Maximum</label>
                                <input id="MINIMUM" type="number" placeholder="0" class="w-full px-4 py-2.5 text-base rounded-lg border border-gray-300 placeholder:italic">
                            </div>
                            <div class="w-1/5">
                                <label for="MINIMUM_Y_D" class="text-base">Day/Year</label>
                                <select id="MINIMUM_Y_D" type="text" class="w-full px-4 py-2.5 text-base rounded-lg border border-gray-300">
                                    <option selected disabled value="">Select</option>
                                    <option value="">N/A</option>
                                    <option value="y">Year/s</option>
                                    <option value="d">Day/s</option>
                                </select>
                            </div>
                            <div class="w-1/5">
                                <label for="MAXIMUM" class="text-base">Maximum</label>
                                <input id="MAXIMUM" type="number" placeholder="0" class="w-full px-4 py-2.5 text-base rounded-lg border border-gray-300 placeholder:italic">
                            </div>
                            <div class="w-1/5">
                                <label for="MAXIMUM_Y_D" class="text-base">Day/Year</label>
                                <select id="MAXIMUM_Y_D" type="text" class="w-full px-4 py-2.5 text-base rounded-lg border border-gray-300">
                                    <option selected disabled value="">Select</option>
                                    <option value="">N/A</option>
                                    <option value="y">Year/s</option>
                                    <option value="d">Day/s</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="py-1">
                        <p id="PREVIEW" class="font-medium ">Preview: <span class="font-normal italic"></span></p>
                    </div>
                </div>
            </div>

            <div class="w-full flex items-start justify-between space-x-6">
                <div class="w-full flex flex-col space-y-1">
                    <label for="CHECK_GENDER" class="text-base">Check Gender</label>
                    <select name="CHECK_GENDER" id="CHECK_GENDER" class="px-4 py-2.5 text-base rounded-lg border border-gray-300 placeholder:italic placeholder:text-gray-400">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="B">Both</option>
                    </select>
                </div>
                <div class="w-full flex flex-col space-y-1">
                    {% include "components/number-input.html" with name='CHECK_SINGLE_PERIOD_DAYS' label='Check Single Period Days' old=form.CHECK_SINGLE_PERIOD_DAYS pholder='0' %}
                    <div class="w-full flex items-center ">
                        <input id="CHECK_SINGLE_PERIOD_DAYS" type="radio" name="CHECK_SINGLE_PERIOD_DAYS" value="N/A" class="cursor-pointer w-4 h-4 text-green-500 bg-gray-200 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="CHECK_SINGLE_PERIOD_DAYS" class="ms-2 text-sm  text-gray-700 dark:text-gray-300">Not Applicable</label>
                    </div>
                    {% for error in form.CHECK_SINGLE_PERIOD_DAYS.errors %}
                        <div class="text-sm text-red-500">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div> -->
    </div>
</div>
<script src="{% static 'js/acr/acr-inputs.js' %}"></script>