{% load static %}
<div class="flex flex-col space-y-4">
    <div class="w-full p-5 py-7 border border-gray-200 rounded-lg bg-white">
        <div class="flex items-start space-x-14 mb-8 justify-between">
            {% include "components/true-false-NA-checkbox.html" with name='CHECK_LATERALITY' label='Check Laterality' %}
            {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_H1' label='Check Facility H1' %}
            {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_H2' label='Check Facility H2' %}
        </div>

        <div class="flex items-start space-x-14 justify-between">
            {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_H3' label='Check Facility H3' %}
            {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_ASC' label='Check Facility ASC' %}
            {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_PCF' label='Check Facility PCF' %}
        </div>
    </div>
    <div class="w-full p-5 py-7 border border-gray-200 rounded-lg bg-white">
        <div class="flex items-start space-x-14 mb-8 justify-between">
            {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_MAT' label='Check Facility MAT' %}
            {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_FSDC' label='Check Facility FSDC' %}
            {% include "components/true-false-NA-checkbox.html" with name='CHECK_PREAUTHORIZATION' label='Check Preauthorization' %}
        </div>
        <div class="flex items-start space-x-14 justify-between">
            {% include "components/true-false-checkbox.html" with name='CHECK_GIDAS' label='Check GIDAS' %}
            {% include "components/true-false-checkbox.html" with name='CHECK_DIRECT_FILING' label='Check Direct Filing' %}
            {% include "components/true-false-checkbox.html" with name='ACTIVE' label='Active' %}
        </div>
    </div>
    <div class="w-full p-5 py-7 border border-gray-200 rounded-lg bg-white">
        <div class="flex items-start space-x-14 mb-8 justify-between">
            {% include "components/true-false-checkbox.html" with name='CHECK_PCF_SECONDARY_CR' label='Check PCF Secondary CR' %}
            {% include "components/true-false-checkbox.html" with name='CHECK_ASC_SECONDARY_CR' label='Check ASC Secondary CR' %}
            {% include "components/true-false-NA-checkbox.html" with name='CHECK_FACILITY_OPMC' label='Check Facility OPMC' %}
        </div>
        <div class="flex items-start space-x-14 justify-between">
            {% include "components/true-false-NA-checkbox.html" with name='CHECK_FACILITY_TBDOTSC' label='Check  TBDOTSC' %}
            {% include "components/true-false-NA-checkbox.html" with name='CHECK_FACILITY_TSEKAP' label='Check Facility TSEKAP' %}
            {% include "components/true-false-NA-checkbox.html" with name='CHECK_FACILITY_ABTC' label='Check Facility ABTC' %}
        </div>
    </div>
</div>
