<div>
    <div id="alert-border-2" class="flex items-center px-4 py-2 rounded-t-md text-green-800 bg-primary shadow dark:bg-gray-800 dark:border-green-800" role="alert">
        <div class="px-1 text-base text-white">
            CREATION OF NEW ACR ICD
          </div>
    </div>
    {% include "components/alerts/modal-messages.html" %}
    <div class="flex flex-col space-y-4 p-4 rounded-b-md bg-white shadow">
        <div class="w-full flex items-start justify-between space-x-6">
            <div class="w-full">
                <div class="flex flex-col space-y-1">
                    <label for="ICDCODE" class="text-gray-700 uppercase text-sm font-medium">ICD CODE</label>
                    <input hx-get="{% url 'check_if_icdcode_exists' %}" hx-trigger="keyup delay:500ms" hx-target="#icd_exists_cntr" type="text" id="ICDCODE" name="ICDCODE" placeholder="ICDCODE" value="{{ form.ICDCODE.value|default:''|escape }}" class="px-4 py-2.5 text-base rounded-md border border-gray-300 bg-white placeholder:italic placeholder:text-gray-300">
                </div>
                <div id="icd_exists_cntr"></div>
                {% for error in form.ICDCODE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="w-full">
                {% include "components/date-input.html" with name='ICD_EFF_DATE' label='Effectivity Date' old=form.ICD_EFF_DATE %}
                {% for error in form.ICD_EFF_DATE.errors %}
                    <div class="text-sm text-red-500">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="w-full">
            {% include "components/text-field.html" with name='ICD_DESCRIPTION' label='Description' old=form.ICD_DESCRIPTION %}
            {% for error in form.ICD_DESCRIPTION.errors %}
                <div class="text-sm text-red-500">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="flex items-start space-x-4 mt-4">
            <button type="submit" class="nav-button text-sm next py-2.5 px-6 rounded-md cursor-pointer bg-primary text-white">SAVE</button>
        </div>
    </div>
</div>


