<div class="flex flex-col space-y-4 p-5 mb-4 rounded-lg bg-white backdrop-filter backdrop-blur-lg bg-opacity-40">
    <h1 class="font-medium">Group</h1>
    <div class="w-full flex items-start justify-between space-x-6">
        <div class="w-full">
            {% include "components/date-input.html" with name='GROUP_EFF_DATE' label='Effectivity Date' old=form.GROUP_EFF_DATE %}
            {% for error in form.GROUP_EFF_DATE.errors %}
                <div class="text-sm text-red-500">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="w-full">
            {% include "components/date-input.html" with name='GROUP_END_DATE' label='Effectivity End Date' old=form.GROUP_END_DATE %}
            {% for error in form.GROUP_END_DATE.errors %}
                <div class="text-sm text-red-500">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="w-full">
        {% include "components/text-field.html" with name='ACR_GROUPS_DESCRIPTION' label='Description' old=form.ACR_GROUPS_DESCRIPTION %}
        {% for error in form.ACR_GROUPS_DESCRIPTION.errors %}
            <div class="text-sm text-red-500">{{ error }}</div>
        {% endfor %}
    </div>
</div>