{% load static %}
<div class="w-full px-4 bg-primary">
    <p class="w-fit text-sm font-medium py-2 drop-shadow-lg text-white">RULES FORM 5</p>
</div>
<div class="p-4 py-5 rounded-b-md bg-white shadow ">
    <div class="w-full flex flex-col items-start space-y-14">

        <div class="w-full flex flex-row items-start justify-between space-x-8 ">
            <div class="w-full">
                {% include "components/true-false-NA-checkbox.html" with name='TO_BE_TAGGED_FOR_POST_AUDIT' label='To Be Tagged For Post Audit' formName=form.TO_BE_TAGGED_FOR_POST_AUDIT %}
                {% for error in form.TO_BE_TAGGED_FOR_POST_AUDIT.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %} 
            </div>
            <div class="w-full">
                {% include "components/true-false-NA-checkbox.html" with name='CHECK_FACILITY_RHU' label='Check Facility RHU' formName=form.CHECK_FACILITY_RHU %}
                {% for error in form.CHECK_FACILITY_RHU.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %} 
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-8 ">
            <div class="w-full">
                {% include "components/true-false-NA-checkbox.html" with name='CHECK_FACILITY_PCB' label='Check Facility PCB' formName=form.CHECK_FACILITY_PCB %}
                {% for error in form.CHECK_FACILITY_PCB.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %} 
            </div>
            <div class="w-full">
                {% include "components/true-false-NA-checkbox.html" with name='CHECK_QUALIFIER' label='Check Qualifier' formName=form.CHECK_QUALIFIER %}
                {% for error in form.CHECK_QUALIFIER.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %} 
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-8 ">
            <div class="w-full flex flex-col space-y-2">
                <div class="w-full flex flex-col space-y-1 ">
                    <div class="w-full">
                        <label for="CHECK_AGE" class="text-gray-700 uppercase text-sm font-medium">Check Age</label>
                        <input type="hidden" name="CHECK_AGE" id="CHECK_AGE" value="{{ form.CHECK_AGE.value|default:''|escape }}">
                    </div>
                    <div class="w-full flex items-start justify-between py-2.5 border-t border-gray-300">
                        <div class="w-full flex items-center">
                            <input id="CHECK_AGE_NOT_APPLICABLE" type="checkbox" value="N/A" {% if 'N/A' in form.CHECK_AGE.value %} checked {% endif %}
                                class="w-4 h-4 text-green-500 bg-gray-100 border-gray-300 rounded focus:ring-green-400 dark:focus:ring-green-500 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="CHECK_AGE" class="ms-2 text-sm  text-gray-700 dark:text-gray-300">Not
                                Applicable</label>
                        </div>
                    </div>
                    <div>
                        <div class="w-full flex items-start justify-between space-x-4">
                            <div class="w-1/5">
                                <label for="OPERATOR" class="text-sm">Operator</label>
                                <select id="OPERATOR" type="text" name="OPERATOR"
                                    class="w-full px-4 py-2.5 text-base rounded-lg border border-gray-300 bg-white bg-opacity-40">
                                    <option selected disabled value="">Select</option>
                                    <option value="">N/A</option>
                                    <option value="<" {% if '<' in form.OPERATOR.value %} selected {% endif %}><</option>
                                    <option value=">" {% if '>' in form.OPERATOR.value %} selected {% endif %}>></option>
                                    <option value="<=" {% if '<=' in form.OPERATOR.value %} selected {% endif %}><=</option>
                                    <option value=">=" {% if '>=' in form.OPERATOR.value %} selected {% endif %}>>=</option>
                                </select>
                            </div>
                            <div class="w-1/5">
                                <label for="MINIMUM" class="text-sm">Minimun</label>
                                <input id="MINIMUM" type="number" placeholder="0" name="MINIMUM" value="{{ form.MINIMUM.value|default:''|escape }}"
                                    class="w-full px-4 py-2.5 text-base rounded-lg border border-gray-300 placeholder:italic bg-white bg-opacity-40">
                            </div>
                            <div class="w-1/5">
                                <label for="MINIMUM_Y_D" class="text-sm">Day/Year</label>
                                <select id="MINIMUM_Y_D" type="text" name="MINIMUM_YD" 
                                    class="w-full px-4 py-2.5 text-base rounded-lg border border-gray-300 bg-white bg-opacity-40">
                                    <option selected disabled value="">Select</option>
                                    <option value="">N/A</option>
                                    <option value="y" {% if 'y' in form.MINIMUM_YD.value %} selected {% endif %}>Year/s</option>
                                    <option value="d" {% if 'd' in form.MINIMUM_YD.value %} selected {% endif %}>Day/s</option>
                                </select>
                            </div>
                            <div class="w-1/5">
                                <label for="MAXIMUM" class="text-sm">Maximum</label>
                                <input id="MAXIMUM" type="number" placeholder="0" name="MAXIMUM" value="{{ form.MAXIMUM.value|default:''|escape }}"
                                    class="w-full px-4 py-2.5 text-base rounded-lg border border-gray-300 placeholder:italic bg-white bg-opacity-40">
                            </div>
                            <div class="w-1/5">
                                <label for="MAXIMUM_Y_D" class="text-sm">Day/Year</label>
                                <select id="MAXIMUM_Y_D" type="text" name="MAXIMUM_YD"
                                    class="w-full px-4 py-2.5 text-base rounded-lg border border-gray-300 bg-white bg-opacity-40 ">
                                    <option selected disabled value="">Select</option>
                                    <option value="">N/A</option>
                                    <option value="y" {% if 'y' in form.MAXIMUM_YD.value %} selected {% endif %}>Year/s</option>
                                    <option value="d" {% if 'd' in form.MAXIMUM_YD.value %} selected {% endif %}>Day/s</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="py-1 text-sm">
                        <p id="PREVIEW" class="font-medium ">Preview: <span class="font-normal italic"></span></p>
                    </div>
                    {% for error in form.CHECK_AGE.errors %}
                    <div class="flex items-center space-x-1 text-sm text-red-500">
                        <i class='bx bx-error-circle text-base'></i>
                        <span>{{ error }}</span>
                    </div>
                    {% endfor %} 
                </div>
            </div>
            <div class="w-full flex flex-col space-y-1 ">
                <div class="w-full">
                    <label for="DEDUCT_FROM_45DAYS" class="text-gray-700 uppercase text-sm font-medium">Deduct from 45 days</label>
                    <input type="hidden" name="DEDUCT_FROM_45DAYS" id="DEDUCT_FROM_45DAYS_INPUT" value="{{ form.DEDUCT_FROM_45DAYS.value|default:''|escape }}">
                </div>
                <div class="w-full flex items-start justify-between py-2.5 border-t border-gray-300">
                    <div class="w-full flex items-center">
                        <input id="DEDUCT_FROM_45DAYS_CONDITIONAL" type="radio" name="DEDUCT_FROM_45DAYS_RADIO"
                            value="N/A"
                            class="w-4 h-4 text-green-500 bg-gray-100 border-gray-300 rounded focus:ring-green-400 dark:focus:ring-green-500 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="DEDUCT_FROM_45DAYS"
                            class="ms-2 text-sm  text-gray-700 dark:text-gray-300">Conditional</label>
                    </div>
                    <div class="w-full flex items-center">
                        <input id="DEDUCT_FROM_45DAYS_NOTAPPLICABLE" type="radio" name="DEDUCT_FROM_45DAYS_RADIO" {% if 'N/A' in form.DEDUCT_FROM_45DAYS.value %} checked {% endif %}
                            value="N/A"
                            class="w-4 h-4 text-green-500 bg-gray-100 border-gray-300 rounded focus:ring-green-400 dark:focus:ring-green-500 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="DEDUCT_FROM_45DAYS" class="ms-2 text-sm  text-gray-700 dark:text-gray-300">Not
                            Applicable</label>
                    </div>
                </div>
                <div id="initial-inputs" class="w-full flex space-x-6">
                    <div class="w-1/2 flex items-center justify-between">
                        <div class="flex flex-col ">
                            <label class="text-sm">Days</label>
                            <input type="number" id="DEDUCT_FROM_45DAYS_DAYS" name="DEDUCT_FROM_45DAYS_DAYS" value="{{ form.DEDUCT_FROM_45DAYS_DAYS.value|default:''|escape }}"
                                class="w-32 py-2.5 px-4 rounded-md border border-gray-300 bg-white bg-opacity-40 placeholder:italic"
                                placeholder="0">
                        </div>
                        <span class="text-lg">Per</span>
                        <div class="flex flex-col ">
                            <label class="text-sm">Number</label>
                            <input type="number" id="DEDUCT_FROM_45DAYS_NUMBER" name="DEDUCT_FROM_45DAYS_NUMBER" value="{{ form.DEDUCT_FROM_45DAYS_NUMBER.value|default:''|escape }}"
                                class="w-32 py-2.5 px-4 rounded-md border border-gray-300 bg-white bg-opacity-40 placeholder:italic"
                                placeholder="0">
                        </div>
                    </div>
                    <div class="w-1/2 flex flex-col ">
                        <label class="text-sm">Type</label>
                        <select id="DEDUCT_FROM_45DAYS_TYPE" name="DEDUCT_FROM_45DAYS_TYPE"
                            class="py-2.5 px-4 rounded-md border border-gray-300 bg-white bg-opacity-40 placeholder:italic"
                            placeholder="0">
                            <option selected disabled value="">Select</option>
                            <option value="">N/A</option>
                            <option value="Cycle" {% if 'Cycle' in form.DEDUCT_FROM_45DAYS_TYPE.value %} selected {% endif %}>Cycle</option>
                            <option value="Session" {% if 'Session' in form.DEDUCT_FROM_45DAYS_TYPE.value %} selected {% endif %}>Session</option>
                        </select>
                    </div>
                </div>
                <div id="condition-cntr">
                    <div class="flex flex-col ">
                        <label class="text-sm">Condition</label>
                        <input type="text" id="CONDITIONAL" name="CONDITIONAL" value="{{ form.CONDITIONAL.value|default:''|escape }}"
                            class="py-2.5 text-base px-4 rounded-md border border-gray-300 bg-white bg-opacity-40 placeholder:italic"
                            placeholder="Condition..">
                    </div>
                </div>
                <div class="py-1 text-sm">
                    <p class="font-medium">Preview: <span id="deduct-45-days-preview" class="font-normal italic"></span></p>
                </div>
                {% for error in form.DEDUCT_FROM_45DAYS.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %} 
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/acr/acr_comp_input.js' %}"></script>