{% load static %}
<div class="p-8 py-12 rounded-md bg-white shadow border-t-4 border-[#1ED760]">
    <div class="w-full flex flex-col items-start space-y-14">

        <div class="w-full flex flex-row items-start justify-between space-x-14 ">
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='ACTIVE' label='Active' %}
            </div>
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_H1' label='Check Facility H1' %}
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-14 ">
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_H2' label='Check Facility H2' %}
            </div>
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_H3' label='Check Facility H3' %}
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-14 ">
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_ASC' label='Check Facility ASC' %}
            </div>
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_PCF' label='Check Facility PCF' %}
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-14 ">
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_MAT' label='Check Facility MAT' %}
            </div>
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='CHECK_FACILITY_FSDC' label='Check Facility FSDC' %}
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-14 ">
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='CHECK_DIRECT_FILING' label='Check Direct Filing' %}
            </div>
            <div class="w-full">
                {% include "components/true-false-checkbox.html" with name='CHECK_GIDAS' label='Check GIDAS' %}
            </div>
        </div>

    </div>
</div>