{% load static %}
<div class="w-full px-4 bg-primary">
    <p class="w-fit text-sm font-medium py-2 drop-shadow-lg text-white">RULES FORM 1</p>
</div>
<div
    class="px-4 py-5 rounded-b-md flex flex-col space-y-8 bg-white shadow">
    <div class="w-full flex flex-col space-y-8">

        <div class="w-full flex flex-row items-start justify-between space-x-10">
            <div class="w-full ">
                {% if rvs_code %}
                    <div class="w-full flex flex-col space-y-1">
                        <label for="EFF_DATE" class="text-gray-700 uppercase text-sm font-medium">'Effectivity Date</label>
                        <input hx-get="{% url 'check_if_rvs_effdate_exist' %}" hx-trigger="change delay:500ms" hx-target="#eff_date_error" type="date" id="EFF_DATE" name="EFF_DATE" value="{{ form.EFF_DATE.value|default:''|escape }}" class="w-full bg-transparent px-4 py-2.5 text-base rounded-md border border-gray-300 bg-white placeholder:italic placeholder:text-gray-200">
                    </div>
                    <div id="eff_date_error"></div>
                {% else %}
                    {% include "components/date-input.html" with name='EFF_DATE' label='Effectivity Date' old=form.EFF_DATE %}
                {% endif %}
                {% for error in form.EFF_DATE.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %}
            </div>
            <div class="w-full ">
                {% include "components/date-input.html" with name='EFF_END_DATE' label='Effectivity End Date' old=form.EFF_END_DATE %}
                {% for error in form.EFF_END_DATE.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-10">
            <div class="w-full">
                {% include "components/number-input.html" with name='PRIMARY_HOSP_SHARE' label='Primary Hospital Share' pholder='0.00' old=form.PRIMARY_HOSP_SHARE %}
                {% for error in form.PRIMARY_HOSP_SHARE.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %}
            </div>
            <div class="w-full">
                {% include "components/number-input.html" with name='SECONDARY_HOSP_SHARE' label='Secondary Hospital Share' pholder='0.00' old=form.SECONDARY_HOSP_SHARE %}
                {% for error in form.SECONDARY_HOSP_SHARE.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-10">

            <div class="w-full">
                {% include "components/number-input.html" with name='PRIMARY_PROF_SHARE' label='Primary Professional Share' pholder='0.00' old=form.PRIMARY_PROF_SHARE %}
                {% for error in form.PRIMARY_PROF_SHARE.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %}
            </div>

            <div class="w-full ">
                {% include "components/number-input.html" with name='SECONDARY_PROF_SHARE' label='Secondary Professional Share' pholder='0.00' old=form.SECONDARY_PROF_SHARE%}
                {% for error in form.SECONDARY_PROF_SHARE.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="w-full flex flex-row items-start justify-between space-x-10">
            <div class="w-full">
                {% include "components/number-input.html" with name='PCF_HOSP_SHARE' label='PCF Hospital Share' pholder='0.00' old=form.PCF_HOSP_SHARE %}
                {% for error in form.PCF_HOSP_SHARE.errors %}
                <div class="flex items-center space-x-1 text-sm text-red-500">
                    <i class='bx bx-error-circle text-base'></i>
                    <span>{{ error }}</span>
                </div>
                {% endfor %}
            </div>
            

            <div class="w-full">
                {% include "components/number-input.html" with name='PCF_PROF_SHARE' label='PCF Professional Share' pholder='0.00' old=form.PCF_PROF_SHARE %}
                {% for error in form.PCF_PROF_SHARE.errors %}
                    <div class="flex items-center space-x-1 text-sm text-red-500">
                        <i class='bx bx-error-circle text-base'></i>
                        <span>{{ error }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/acr/acr-inputs.js' %}" defer></script>